.lld-titlearea {
  background: #0c1476;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #0c1476, #680fac 60%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #0c1476, #680fac 60%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .lld-titlearea .lld-titlepart {
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .lld-titlearea .lld-titlepart .lld-title h3 {
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
      color: #ffffff;
      font-weight: 300; }

.lld-breadcrumbs ul {
  margin: 0;
  padding: 0; }
.lld-breadcrumbs .breadcrumbs {
  padding: 0 1em;
  list-style: none; }
  .lld-breadcrumbs .breadcrumbs li {
    display: inline; }
    .lld-breadcrumbs .breadcrumbs li a {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-style: italic;
      font-weight: 300;
      color: #fcfcfc;
      text-decoration: none; }
      .lld-breadcrumbs .breadcrumbs li a:hover {
        color: #ffffff;
        text-decoration: underline; }

.breadcrumbs li + li:before {
  padding: 0 2px;
  color: #fcfcfc;
  content: "/\00a0"; }

.lld-navarea {
  background: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
  .lld-navarea .lld-navigation {
    height: 70px;
    display: flex;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden; }
    .lld-navarea .lld-navigation a {
      text-transform: capitalize;
      transition: 0.4s;
      margin-right: 30px;
      flex: 0 0 auto;
      padding: 20px 0;
      align-self: stretch;
      position: relative;
      color: #707070;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      font-size: 16px;
      align-items: center;
      letter-spacing: 1px; }
      .lld-navarea .lld-navigation a:hover {
        border-bottom: 4px solid rebeccapurple; }

.lldashboard-bg {
  background: #F8F8F8; }

/* =================================
      For Dashboard Overview
   ================================= */
.lld-overviewarea {
  padding-top: 60px; }

.ll-totallogos {
  background: #ffffff;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .ll-totallogos span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 32px;
    margin: 0;
    padding: 0; }
    .ll-totallogos span small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1; }
    .ll-totallogos span:last-child img {
      width: auto;
      height: 50px; }

.ll-monthsale {
  background: #ffffff;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .ll-monthsale span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 28px;
    margin: 0;
    padding: 0; }
    .ll-monthsale span sub {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      bottom: 2px; }
    .ll-monthsale span small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1; }
    .ll-monthsale span:last-child img {
      width: auto;
      height: 50px; }

.ll-totalsale {
  background: #ffffff;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .ll-totalsale span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 28px;
    margin: 0;
    padding: 0; }
    .ll-totalsale span sub {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      bottom: 2px; }
    .ll-totalsale span small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1; }
    .ll-totalsale span:last-child img {
      width: 50px;
      height: auto; }

.ll-lifetimesale {
  background: #ffffff;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .ll-lifetimesale span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 28px;
    margin: 0;
    padding: 0; }
    .ll-lifetimesale span sub {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      bottom: 2px; }
    .ll-lifetimesale span small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1; }
    .ll-lifetimesale span:last-child img {
      width: auto;
      height: 50px; }

.lld-salersbuyersarea {
  padding-top: 40px;
  padding-bottom: 60px; }

.lld-recentsales {
  background: #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
  .lld-recentsales .lld-recentsales-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
  .lld-recentsales h4 {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 28px;
    color: #878787;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }

.lld-rstable-header {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #6a6a6a;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #e3e3e3;
  margin: 0 25px; }

.lld-rstablemain {
  padding: 0 25px 55px 25px; }
  .lld-rstablemain .lld-rstable-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    height: 125px; }
    .lld-rstablemain .lld-rstable-details .lld-rsimage {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .lld-rstablemain .lld-rstable-details .lld-rsimage img {
        width: 140px;
        height: auto;
        object-fit: cover;
        border: 1px solid #e3e3e3; }
      .lld-rstablemain .lld-rstable-details .lld-rsimage .lldimage-caption span {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 28px;
        color: #6a6a6a;
        margin-left: .8em; }
        .lld-rstablemain .lld-rstable-details .lld-rsimage .lldimage-caption span:last-child {
          position: relative;
          bottom: 5px;
          color: #a2a2a2;
          font-size: 10px;
          padding-left: 1.5em; }
    .lld-rstablemain .lld-rstable-details .lld-rsprice {
      font-family: "Roboto", sans-serif;
      color: #6a6a6a;
      font-size: 20px; }
      .lld-rstablemain .lld-rstable-details .lld-rsprice span {
        font-weight: lighter; }
        .lld-rstablemain .lld-rstable-details .lld-rsprice span sub {
          font-size: 11px;
          font-weight: 300; }

@media (max-width: 768px) {
  .lld-rstable-details {
    min-height: 160px; } }
.lld-recentbuyers {
  background: #ffffff;
  padding-bottom: 20px; }
  .lld-recentbuyers .lld-recentbuyers-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
  .lld-recentbuyers h4 {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 28px;
    color: #878787;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }
  .lld-recentbuyers .lld-rbtable-details {
    margin: 0 25px;
    padding: 35px 0;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #f3f3f3; }
    .lld-recentbuyers .lld-rbtable-details .lld-rbimage p {
      margin: 0;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: bold; }
      .lld-recentbuyers .lld-rbtable-details .lld-rbimage p img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid #707070; }
    .lld-recentbuyers .lld-rbtable-details .lld-rbprice {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .lld-recentbuyers .lld-rbtable-details .lld-rbprice span {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 16px; }
        .lld-recentbuyers .lld-rbtable-details .lld-rbprice span sub {
          font-weight: 300;
          font-size: 12px; }

/*End Dashboard Overview*/
/* =================================
       For Dashboard Purchase Area
   ================================= */
.lld-purchasearea {
  padding: 60px 0; }

.lld-purchasemain {
  background: #ffffff;
  border-bottom: 1px solid #eaeaea; }

.lld-purchaserow {
  padding-left: 25px;
  min-height: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .lld-purchaserow .lld-purchaselogo img {
    cursor: pointer;
    width: 160px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4); }
  .lld-purchaserow .lld-purchasecaption span {
    color: #616161;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize; }
  .lld-purchaserow .lld-purchasecaption h3 {
    color: #2452a2;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 400; }

.lld-purchasebtn {
  padding-right: 25px;
  min-height: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end; }
  .lld-purchasebtn .lld-purchasedownload {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 120px;
    padding: 5px;
    margin-bottom: 10px;
    background: #CA49D9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 98%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .lld-purchasebtn .lld-purchaseinvoice {
    text-decoration: none;
    width: 120px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #c5c5c5;
    color: #7a7a7a;
    padding: 5px; }

.lld-purchasebtn {
  padding-right: 25px;
  min-height: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end; }
  .lld-purchasebtn .lld-purchaseedit {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 120px;
    padding: 5px;
    background: #CA49D9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 98%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/*# sourceMappingURL=dashboard.css.map */
