.lld-titlearea {
  background: #0c1476;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #0c1476, #680fac 60%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #0c1476, #680fac 60%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .lld-titlearea .lld-titlepart {
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .lld-titlearea .lld-titlepart .lld-title h3 {
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
      color: #ffffff;
      font-weight: 300; }

.lld-breadcrumbs ul {
  margin: 0;
  padding: 0; }
.lld-breadcrumbs .breadcrumbs {
  padding: 0 1em;
  list-style: none; }
  .lld-breadcrumbs .breadcrumbs li {
    display: inline; }
    .lld-breadcrumbs .breadcrumbs li a {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-style: italic;
      font-weight: 300;
      color: #fcfcfc;
      text-decoration: none; }
      .lld-breadcrumbs .breadcrumbs li a:hover {
        color: #ffffff;
        text-decoration: underline; }

.breadcrumbs li + li:before {
  padding: 0 2px;
  color: #fcfcfc;
  content: "/\00a0"; }

.lld-navarea {
  background: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
  .lld-navarea .lld-navigation {
    height: 70px;
    display: flex;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden; }
    .lld-navarea .lld-navigation a {
      text-transform: capitalize;
      transition: 0.4s;
      margin-right: 30px;
      flex: 0 0 auto;
      padding: 20px 0;
      align-self: stretch;
      position: relative;
      color: #707070;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      font-size: 16px;
      align-items: center;
      letter-spacing: 1px; }
      .lld-navarea .lld-navigation a:hover {
        border-bottom: 4px solid rebeccapurple; }

.lldashboard-bg {
  background: #F8F8F8; }

/* =================================
      For Dashboard Overview
   ================================= */
.lld-overviewarea {
  padding-top: 60px; }

.ll-totallogos {
  background: #ffffff;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .ll-totallogos span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 32px;
    margin: 0;
    padding: 0; }
    .ll-totallogos span small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1; }
    .ll-totallogos span:last-child img {
      width: auto;
      height: 50px; }

.ll-monthsale {
  background: #ffffff;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .ll-monthsale span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 28px;
    margin: 0;
    padding: 0; }
    .ll-monthsale span sub {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      bottom: 2px; }
    .ll-monthsale span small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1; }
    .ll-monthsale span:last-child img {
      width: auto;
      height: 50px; }

.ll-totalsale {
  background: #ffffff;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .ll-totalsale span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 28px;
    margin: 0;
    padding: 0; }
    .ll-totalsale span sub {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      bottom: 2px; }
    .ll-totalsale span small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1; }
    .ll-totalsale span:last-child img {
      width: 50px;
      height: auto; }

.ll-lifetimesale {
  background: #ffffff;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .ll-lifetimesale span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 28px;
    margin: 0;
    padding: 0; }
    .ll-lifetimesale span sub {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      bottom: 2px; }
    .ll-lifetimesale span small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1; }
    .ll-lifetimesale span:last-child img {
      width: auto;
      height: 50px; }

.lld-salersbuyersarea {
  padding-top: 40px;
  padding-bottom: 60px; }

.lld-recentsales {
  background: #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
  .lld-recentsales .lld-recentsales-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
  .lld-recentsales h4 {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 28px;
    color: #878787;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }

.lld-rstable-header {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #6a6a6a;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #e3e3e3;
  margin: 0 25px; }

.lld-rstablemain {
  padding: 0 25px 55px 25px; }
  .lld-rstablemain .lld-rstable-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    height: 125px; }
    .lld-rstablemain .lld-rstable-details .lld-rsimage {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .lld-rstablemain .lld-rstable-details .lld-rsimage img {
        width: 140px;
        height: auto;
        object-fit: cover;
        border: 1px solid #e3e3e3; }
      .lld-rstablemain .lld-rstable-details .lld-rsimage .lldimage-caption span {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 28px;
        color: #6a6a6a;
        margin-left: .8em; }
        .lld-rstablemain .lld-rstable-details .lld-rsimage .lldimage-caption span:last-child {
          position: relative;
          bottom: 5px;
          color: #a2a2a2;
          font-size: 10px;
          padding-left: 1.5em; }
    .lld-rstablemain .lld-rstable-details .lld-rsprice {
      font-family: "Roboto", sans-serif;
      color: #6a6a6a;
      font-size: 20px; }
      .lld-rstablemain .lld-rstable-details .lld-rsprice span {
        font-weight: lighter; }
        .lld-rstablemain .lld-rstable-details .lld-rsprice span sub {
          font-size: 11px;
          font-weight: 300; }

@media (max-width: 768px) {
  .lld-rstable-details {
    min-height: 160px; } }
.lld-recentbuyers {
  background: #ffffff;
  padding-bottom: 20px; }
  .lld-recentbuyers .lld-recentbuyers-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
  .lld-recentbuyers h4 {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 28px;
    color: #878787;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }
  .lld-recentbuyers .lld-rbtable-details {
    margin: 0 25px;
    padding: 35px 0;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #f3f3f3; }
    .lld-recentbuyers .lld-rbtable-details .lld-rbimage p {
      margin: 0;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: bold; }
      .lld-recentbuyers .lld-rbtable-details .lld-rbimage p img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid #707070; }
    .lld-recentbuyers .lld-rbtable-details .lld-rbprice {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .lld-recentbuyers .lld-rbtable-details .lld-rbprice span {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 16px; }
        .lld-recentbuyers .lld-rbtable-details .lld-rbprice span sub {
          font-weight: 300;
          font-size: 12px; }

/*End Dashboard Overview*/
/* =================================
       For Dashboard Purchase Area
   ================================= */
.lld-purchasearea {
  padding: 60px 0; }

.lld-purchasemain {
  background: #ffffff;
  border-bottom: 1px solid #eaeaea; }

.lld-purchaserow {
  padding-left: 25px;
  min-height: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .lld-purchaserow .lld-purchaselogo img {
    cursor: pointer;
    width: 160px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4); }
  .lld-purchaserow .lld-purchasecaption span {
    color: #616161;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize; }
  .lld-purchaserow .lld-purchasecaption h3 {
    color: #2452a2;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 400; }

.lld-purchasebtn {
  padding-right: 25px;
  min-height: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end; }
  .lld-purchasebtn .lld-purchasedownload {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 120px;
    padding: 5px;
    margin-bottom: 10px;
    background: #CA49D9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 98%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .lld-purchasebtn .lld-purchaseinvoice {
    text-decoration: none;
    width: 120px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #c5c5c5;
    color: #7a7a7a;
    padding: 5px; }

.lld-purchasebtn {
  padding-right: 25px;
  min-height: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end; }
  .lld-purchasebtn .lld-purchaseedit {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 120px;
    padding: 5px;
    background: #CA49D9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 98%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/* =================================
      For Dashboard Settings Area
   ================================= */
.lld-settingsarea {
  padding-top: 60px;
  padding-bottom: 40px; }

.bg-white {
  background: #ffffff;
  padding: 25px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); }

.lld-astitle {
  margin: -25px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; }
  .lld-astitle h3 {
    margin-left: 25px;
    padding: 25px 0;
    color: #7e7e7e;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    display: block; }

.lld-profileimgarea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px; }
  .lld-profileimgarea .lld-profileimg img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer; }
  .lld-profileimgarea .lld-profilecaption h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #929292; }
  .lld-profileimgarea .lld-profilecaption p {
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #929292; }

#lld-settingsform input[type="text"]:focus {
  outline: 0; }
#lld-settingsform textarea {
  font-family: "Roboto", sans-serif;
  background: #efefef;
  border: none;
  border-radius: 2px; }
#lld-settingsform input {
  font-family: "Roboto", sans-serif;
  color: #818181;
  background: #efefef;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 25px; }
#lld-settingsform label {
  color: #929292;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  padding-bottom: 5px; }

.lld-savebtn {
  margin-top: 30px; }
  .lld-savebtn a {
    text-decoration: none;
    background: #E3E6EE;
    display: block;
    color: #8C909C;
    font-family: "Roboto", sans-serif;
    padding: 10px 0;
    font-size: 18px;
    letter-spacing: 2px; }
    .lld-savebtn a:hover {
      background: #b3bcd1;
      text-decoration: none;
      color: #ffffff; }

/*End Dashboard Settings Area*/
/* =================================
      For Dashboard Withdraw Area
   ================================= */
.lld-withdrawarea {
  padding: 60px 0 40px 0; }

.lld-withdrawmethod {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); }
  .lld-withdrawmethod .lld-withdrawtitle {
    margin: -24px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; }
    .lld-withdrawmethod .lld-withdrawtitle h3 {
      padding: 25px;
      color: #7e7e7e;
      font-family: "Roboto", sans-serif;
      font-size: 26px;
      display: block; }
  .lld-withdrawmethod .lld-paymenttype h4 {
    font-family: "Roboto", sans-serif;
    color: #9b9b9b;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 400; }
  .lld-withdrawmethod .lld-paymenttype .lld-radiobkash, .lld-withdrawmethod .lld-paymenttype .lld-radiopayoneer, .lld-withdrawmethod .lld-paymenttype .lld-radiolocalbank {
    font-family: "Roboto", sans-serif;
    color: #9b9b9b;
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 15px; }
    .lld-withdrawmethod .lld-paymenttype .lld-radiobkash input[type="radio"], .lld-withdrawmethod .lld-paymenttype .lld-radiopayoneer input[type="radio"], .lld-withdrawmethod .lld-paymenttype .lld-radiolocalbank input[type="radio"] {
      position: absolute;
      opacity: 0;
      font-family: "Roboto", sans-serif;
      color: #9b9b9b;
      font-size: 22px; }
    .lld-withdrawmethod .lld-paymenttype .lld-radiobkash input[type="radio"] + .radio-label:before, .lld-withdrawmethod .lld-paymenttype .lld-radiopayoneer input[type="radio"] + .radio-label:before, .lld-withdrawmethod .lld-paymenttype .lld-radiolocalbank input[type="radio"] + .radio-label:before {
      font-family: "Roboto", sans-serif;
      content: '';
      border-radius: 100%;
      border: 1px solid #707070;
      display: inline-block;
      width: 1em;
      height: 1em;
      position: relative;
      top: 0.3em;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease; }
    .lld-withdrawmethod .lld-paymenttype .lld-radiobkash input[type="radio"]:checked + .radio-label:before, .lld-withdrawmethod .lld-paymenttype .lld-radiopayoneer input[type="radio"]:checked + .radio-label:before, .lld-withdrawmethod .lld-paymenttype .lld-radiolocalbank input[type="radio"]:checked + .radio-label:before {
      background-color: #707070;
      box-shadow: inset 0 0 0 4px #f4f4f4; }
    .lld-withdrawmethod .lld-paymenttype .lld-radiobkash input[type="radio"]:focus + .radio-label:before, .lld-withdrawmethod .lld-paymenttype .lld-radiopayoneer input[type="radio"]:focus + .radio-label:before, .lld-withdrawmethod .lld-paymenttype .lld-radiolocalbank input[type="radio"]:focus + .radio-label:before {
      outline: none;
      border-color: #707070; }
    .lld-withdrawmethod .lld-paymenttype .lld-radiobkash input[type="radio"] + .radio-label:empty:before, .lld-withdrawmethod .lld-paymenttype .lld-radiopayoneer input[type="radio"] + .radio-label:empty:before, .lld-withdrawmethod .lld-paymenttype .lld-radiolocalbank input[type="radio"] + .radio-label:empty:before {
      margin-right: 0; }
  .lld-withdrawmethod .lld-paymenttype .payment-submit {
    width: 300px;
    display: block;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background: #2452a2;
    -webkit-appearance: none;
    cursor: pointer;
    margin: 50px auto; }
    .lld-withdrawmethod .lld-paymenttype .payment-submit input {
      border: none;
      background: transparent;
      color: #ffffff;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      text-align: center;
      padding: 16px 0;
      cursor: pointer;
      letter-spacing: 1px; }
      .lld-withdrawmethod .lld-paymenttype .payment-submit input:focus {
        outline: none; }
  .lld-withdrawmethod .lld-blanceconfirm p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: #9b9b9b; }
  .lld-withdrawmethod .lld-blanceconfirm .lld-radiowithdraw {
    font-family: "Roboto", sans-serif;
    color: #9b9b9b;
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 15px; }
    .lld-withdrawmethod .lld-blanceconfirm .lld-radiowithdraw input[type="radio"] {
      position: absolute;
      opacity: 0;
      font-family: "Roboto", sans-serif;
      color: #9b9b9b;
      font-size: 22px; }
    .lld-withdrawmethod .lld-blanceconfirm .lld-radiowithdraw input[type="radio"] + .radio-label:before {
      font-family: "Roboto", sans-serif;
      content: '';
      border-radius: 100%;
      border: 1px solid #707070;
      display: inline-block;
      width: 1em;
      height: 1em;
      position: relative;
      top: 0.3em;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease; }
    .lld-withdrawmethod .lld-blanceconfirm .lld-radiowithdraw input[type="radio"]:checked + .radio-label:before {
      background-color: #707070;
      box-shadow: inset 0 0 0 4px #f4f4f4; }
    .lld-withdrawmethod .lld-blanceconfirm .lld-radiowithdraw input[type="radio"]:focus + .radio-label:before {
      outline: none;
      border-color: #707070; }
    .lld-withdrawmethod .lld-blanceconfirm .lld-radiowithdraw input[type="radio"] + .radio-label:empty:before {
      margin-right: 0; }
  .lld-withdrawmethod .lld-blanceconfirm .withdraw-submit {
    width: 300px;
    display: block;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background: #2452a2;
    -webkit-appearance: none;
    cursor: pointer;
    margin: 30px auto 23px; }
    .lld-withdrawmethod .lld-blanceconfirm .withdraw-submit input {
      border: none;
      background: transparent;
      color: #ffffff;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      text-align: center;
      padding: 16px 0;
      cursor: pointer;
      letter-spacing: 1px; }
      .lld-withdrawmethod .lld-blanceconfirm .withdraw-submit input:focus {
        outline: none; }

.lld-withdrawhistory {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); }
  .lld-withdrawhistory .lld-historytitle {
    margin: -24px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; }
    .lld-withdrawhistory .lld-historytitle h3 {
      padding: 25px;
      color: #7e7e7e;
      font-family: "Roboto", sans-serif;
      font-size: 26px;
      display: block; }
  .lld-withdrawhistory .table {
    font-family: "Roboto", sans-serif; }
    .lld-withdrawhistory .table thead tr th {
      border: none;
      padding: 1em 0;
      font-family: "Roboto", sans-serif;
      color: #848484; }
    .lld-withdrawhistory .table tbody {
      font-weight: lighter; }
      .lld-withdrawhistory .table tbody tr td {
        padding: 2em 0; }
    .lld-withdrawhistory .table th {
      color: #848484;
      font-weight: bold;
      font-size: 16px; }
    .lld-withdrawhistory .table tr {
      color: #848484; }

/*# sourceMappingURL=dashboard.css.map */
