//Common Style For Dashboard

$ff: 'Roboto', sans-serif;
$ft: 'TrebuchetMS', sans-serif;
$fb: 'TrebuchetMS-Bold', sans-serif;
$bg: #eff1f5;
$blue-colors: #2452a2;
$gray-colors: #616161;
$gray-colors-light: #818181;
$input-border: #9b9b9b;

$d-bg: #F8F8F8;
$bg-white: #ffffff;
$d-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

//Start Common Style For Dashboard

.lld-titlearea {
  background: #0c1476; /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #0c1476, #680fac 60%); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #0c1476, #680fac 60%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .lld-titlepart {
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .lld-title {
      h3 {
        margin: 0;
        padding: 0;
        font-family: $ff;
        color: #ffffff;
        font-weight: 300;
      }
    }
  }

}

.lld-breadcrumbs {
  ul {
    margin: 0;
    padding: 0;
  }
  .breadcrumbs {
    padding: 0 1em;
    list-style: none;
    li {
      display: inline;
      a {
        font-family: $ff;
        font-size: 12px;
        font-style: italic;
        font-weight: 300;
        color: #fcfcfc;
        text-decoration: none;
        &:hover {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
  }
}

.breadcrumbs li + li:before {
  padding: 0 2px;
  color: #fcfcfc;
  content: "/\00a0";
}

.lld-navarea {
  //margin-bottom: 200px;
  background: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  .lld-navigation {
    height: 70px;
    display: flex;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    a {
      text-transform: capitalize;
      transition: 0.4s;
      margin-right: 30px;
      flex: 0 0 auto;
      padding: 20px 0;
      align-self: stretch;
      position: relative;
      color: #707070;
      font-family: $ff;
      text-decoration: none;
      font-size: 16px;
      align-items: center;
      letter-spacing: 1px;
      &:hover {
        //height: 100%;
        //content:"";
        //position: absolute;
        //width: 100%;
        //left: 0;
        //bottom: 0;
        border-bottom: 4px solid rebeccapurple;
      }
    }
  }
}

.lldashboard-bg {
  background: $d-bg;
}

//End Common Style For Dashboard

/* =================================
      For Dashboard Overview
   ================================= */

.lld-overviewarea {
  padding-top: 60px;
}

.ll-totallogos {
  background: $bg-white;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  span {
    font-family: $ff;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 32px;
    margin: 0;
    padding: 0;
    small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1;
    }
    &:last-child {
      img {
        width: auto;
        height: 50px;
      }
    }
  }
}

.ll-monthsale {
  background: $bg-white;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  span {
    font-family: $ff;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 28px;
    margin: 0;
    padding: 0;
    sub {
      font-family: $ff;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      bottom: 2px;
    }
    small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1;
    }
    &:last-child {
      img {
        width: auto;
        height: 50px;
      }
    }
  }
}

.ll-totalsale {
  background: $bg-white;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  span {
    font-family: $ff;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 28px;
    margin: 0;
    padding: 0;
    sub {
      font-family: $ff;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      bottom: 2px;
    }
    small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1;
    }
    &:last-child {
      img {
        width: 50px;
        height: auto;
      }
    }
  }
}

.ll-lifetimesale {
  background: $bg-white;
  display: flex;
  padding: 25px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  span {
    font-family: $ff;
    font-weight: bold;
    text-transform: capitalize;
    color: #919191;
    font-size: 28px;
    margin: 0;
    padding: 0;
    sub {
      font-family: $ff;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      bottom: 2px;
    }
    small {
      display: block;
      margin: 0;
      padding: 0;
      color: #AB9DBA;
      font-size: 18px;
      line-height: 1;
    }
    &:last-child {
      img {
        width: auto;
        height: 50px;
      }
    }
  }
}

.lld-salersbuyersarea {
  padding-top: 40px;
  padding-bottom: 60px;
}

.lld-recentsales {
  background: $bg-white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

  .lld-recentsales-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }
  h4 {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 28px;
    color: #878787;
    font-family: $ff;
    font-weight: 400;
  }
}

.lld-rstable-header {
  display: flex;
  flex-direction: row;
  font-family: $ff;
  font-weight: 500;
  letter-spacing: 1px;
  color: #6a6a6a;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #e3e3e3;
  margin: 0 25px;
}

.lld-rstablemain {
  padding: 0 25px 55px 25px;
  .lld-rstable-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    height: 125px;
    .lld-rsimage {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      img {
        width: 140px;
        height: auto;
        object-fit: cover;
        border: 1px solid #e3e3e3;
      }

      .lldimage-caption {
        span {
          display: block;
          font-family: $ff;
          font-size: 28px;
          color: #6a6a6a;
          margin-left: .8em;
          &:last-child {
            position: relative;
            bottom: 5px;
            color: #a2a2a2;
            font-size: 10px;
            padding-left: 1.5em;
          }
        }

      }

    }

    .lld-rsprice {
      font-family: $ff;
      color: #6a6a6a;
      font-size: 20px;
      span {
        font-weight: lighter;
        sub {
          font-size: 11px;
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .lld-rstable-details {
    min-height: 160px;
  }
}

.lld-recentbuyers {
  background: $bg-white;
  padding-bottom: 20px;
  .lld-recentbuyers-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }
  h4 {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 28px;
    color: #878787;
    font-family: $ff;
    font-weight: 400;

  }
  .lld-rbtable-details {
    margin: 0 25px;
    padding: 35px 0;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #f3f3f3;

    .lld-rbimage {
      p {
        margin: 0;
        font-size: 14px;
        font-family: $ff;
        font-weight: bold;
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 10px;
          border: 1px solid #707070;
        }
      }
    }

    .lld-rbprice {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-family: $ff;
        font-weight: 300;
        font-size: 16px;
        sub {
          font-weight: 300;
          font-size: 12px;
        }
      }
    }
  }

}

/*End Dashboard Overview*/

/* =================================
       For Dashboard Purchase Area
   ================================= */
.lld-purchasearea {
  padding: 60px 0;
}

.lld-purchasemain {
  background: $bg-white;
  border-bottom: 1px solid #eaeaea;
}

.lld-purchaserow {
  padding-left: 25px;
  min-height: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .lld-purchaselogo {
    img {
      cursor: pointer;
      width: 160px;
      height: 100px;
      object-fit: cover;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    }
  }

  .lld-purchasecaption {
    span {
      color: $gray-colors;
      font-family: $ff;
      font-weight: 300;
      font-size: 18px;
      text-transform: capitalize;

    }
    h3 {
      color: $blue-colors;
      font-family: $ff;
      font-size: 32px;
      font-weight: 400;
    }
  }
}

.lld-purchasebtn {
  padding-right: 25px;
  min-height: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  .lld-purchasedownload {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: $ff;
    font-size: 16px;
    font-weight: 300;
    width: 120px;
    padding: 5px;
    margin-bottom: 10px;
    background: #CA49D9; /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 98%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .lld-purchaseinvoice {
    text-decoration: none;
    width: 120px;
    text-align: center;
    font-family: $ff;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #c5c5c5;
    color: #7a7a7a;
    padding: 5px;
  }
}

//Only for Edit button
.lld-purchasebtn {
  padding-right: 25px;
  min-height: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  .lld-purchaseedit {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: $ff;
    font-size: 16px;
    font-weight: 300;
    width: 120px;
    padding: 5px;
    background: #CA49D9; /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 98%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

//End only for edit button

//End Dashboard Purchase Area

/* =================================
      For Dashboard Settings Area
   ================================= */
.lld-settingsarea {
  padding-top: 60px;
  padding-bottom: 40px;
}

.bg-white {
  background: #ffffff;
  padding: 25px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.lld-astitle {
  margin: -25px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  h3 {
    margin-left: 25px;
    padding: 25px 0;
    color: #7e7e7e;
    font-family: $ff;
    font-size: 26px;
    display: block;
  }
}

.lld-profileimgarea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  .lld-profileimg {

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
      cursor: pointer;
    }
  }

  .lld-profilecaption {
    h4 {
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      font-family: $ff;
      color: #929292;
    }
    p {
      font-size: 14px;
      font-weight: lighter;
      margin: 0;
      font-family: $ff;
      color: #929292;
    }
  }
}

#lld-settingsform {
  input[type="text"] {
    &:focus {
      outline: 0;
    }
  }
  textarea {
    font-family: $ff;
    background: #efefef;
    border: none;
    border-radius: 2px;
  }
  input {
    font-family: $ff;
    color: $gray-colors-light;
    background: #efefef;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 25px;
  }
  label {
    color: #929292;
    font-family: $ff;
    font-size: 14px;
    font-weight: lighter;
    padding-bottom: 5px;
  }
}

.lld-savebtn {
  margin-top: 30px;

  a {
    text-decoration: none;
    background: #E3E6EE;
    display: block;
    color: #8C909C;
    font-family: $ff;
    padding: 10px 0;
    font-size: 18px;
    letter-spacing: 2px;
    &:hover {
      background: darken(#E3E6EE, 15%);
      text-decoration: none;
      color: #ffffff;
    }
  }

}

/*End Dashboard Settings Area*/

/* =================================
      For Dashboard Withdraw Area
   ================================= */
.lld-withdrawarea {
  padding: 60px 0 40px 0;

}

.lld-withdrawmethod {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  .lld-withdrawtitle {
    margin: -24px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    h3 {
      padding: 25px;
      color: #7e7e7e;
      font-family: $ff;
      font-size: 26px;
      display: block;
    }
  }

  .lld-paymenttype {
    h4 {
      font-family: $ff;
      color: #9b9b9b;
      font-size: 22px;
      margin-bottom: 20px;
      font-weight: 400;
    }

    .lld-radiobkash, .lld-radiopayoneer, .lld-radiolocalbank {
      font-family: $ff;
      color: #9b9b9b;
      font-size: 16px;
      margin-left: 30px;
      margin-bottom: 15px;
      input[type="radio"] {
        position: absolute;
        opacity: 0;
        font-family: $ff;
        color: #9b9b9b;
        font-size: 22px;
      }
      input[type="radio"] + .radio-label:before {
        font-family: $ff;
        content: '';
        border-radius: 100%;
        border: 1px solid #707070;
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        top: 0.3em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
      }

      input[type="radio"]:checked + .radio-label:before {
        background-color: #707070;
        box-shadow: inset 0 0 0 4px #f4f4f4;
      }

      input[type="radio"]:focus + .radio-label:before {
        outline: none;
        border-color: #707070;
      }

      input[type="radio"] + .radio-label:empty:before {
        margin-right: 0;
      }

    }

    .payment-submit {
      width: 300px;
      display: block;
      text-align: center;
      color: #ffffff;
      font-family: $ff;
      background: $blue-colors;
      -webkit-appearance: none;
      cursor: pointer;
      margin: 50px auto;
      input {
        border: none;
        background: transparent;
        color: #ffffff;
        text-decoration: none;
        font-family: $ff;
        font-weight: lighter;
        text-align: center;
        padding: 16px 0;
        cursor: pointer;
        letter-spacing: 1px;
        &:focus {
          outline: none;
        }
      }
    }

  }

  .lld-blanceconfirm {
    p {
      text-align: center;
      font-family: $ff;
      font-size: 22px;
      color: #9b9b9b;
    }

    .lld-radiowithdraw {

      font-family: $ff;
      color: #9b9b9b;
      font-size: 16px;
      margin-left: 30px;
      margin-bottom: 15px;
      input[type="radio"] {
        position: absolute;
        opacity: 0;
        font-family: $ff;
        color: #9b9b9b;
        font-size: 22px;
      }
      input[type="radio"] + .radio-label:before {
        font-family: $ff;
        content: '';
        border-radius: 100%;
        border: 1px solid #707070;
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        top: 0.3em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
      }

      input[type="radio"]:checked + .radio-label:before {
        background-color: #707070;
        box-shadow: inset 0 0 0 4px #f4f4f4;
      }

      input[type="radio"]:focus + .radio-label:before {
        outline: none;
        border-color: #707070;
      }

      input[type="radio"] + .radio-label:empty:before {
        margin-right: 0;
      }

    }

    .withdraw-submit {
      width: 300px;
      display: block;
      text-align: center;
      color: #ffffff;
      font-family: $ff;
      background: $blue-colors;
      -webkit-appearance: none;
      cursor: pointer;
      margin: 30px auto 23px;
      input {
        border: none;
        background: transparent;
        color: #ffffff;
        text-decoration: none;
        font-family: $ff;
        font-weight: lighter;
        text-align: center;
        padding: 16px 0;
        cursor: pointer;
        letter-spacing: 1px;
        &:focus {
          outline: none;
        }
      }
    }

  }

}

.lld-withdrawhistory {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  .lld-historytitle {
    margin: -24px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    h3 {
      padding: 25px;
      color: #7e7e7e;
      font-family: $ff;
      font-size: 26px;
      display: block;
    }
  }

  .table {
    font-family: $ff;
    thead {
      tr {
        th{
          border: none;
          padding: 1em 0;
          font-family: $ff;
          color: #848484;
        }
      }

    }
    tbody {
      font-weight: lighter;
      tr {
        td {
          padding: 2em 0;
        }

      }
    }
    th {
      color: #848484;
      font-weight: bold;
      font-size: 16px;
    }
    tr {
      color: #848484;
    }

  }
}

//End Dashboard Withdraw Area


/* =================================
   for  Dashboard Submit Logo Area
   ================================= */


/* End Dashboard Submit Logo Area*/















