/* =================================
       Importing All font family
   ================================= */
@font-face {
  font-family: 'TrebuchetMS';
  src: url("../fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("../fonts/TrebuchetMS.woff") format("woff"), url("../fonts/TrebuchetMS.ttf") format("truetype"), url("../fonts/TrebuchetMS.svg#TrebuchetMS") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TrebuchetMS-Bold';
  src: url("../fonts/TrebuchetMS-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TrebuchetMS-Bold.woff") format("woff"), url("../fonts/TrebuchetMS-Bold.ttf") format("truetype"), url("../fonts/TrebuchetMS-Bold.svg#TrebuchetMS-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ====================================
      Common Variable Declerations
   ==================================== */
/* =================================
          Main Navigation Area
   ================================= */
.nav-area {
  font-family: "Roboto", sans-serif;
  display: flex;
  padding: 15px;
  position: relative;
  z-index: 1030; }
  .nav-area .logo a img {
    width: auto;
    height: 40px; }

.center-nav {
  margin-right: auto;
  margin-left: auto; }
  .center-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif; }
    .center-nav a:hover {
      text-decoration: none;
      color: #ffffff; }
  .center-nav a:not(:last-child) {
    margin-right: 5em; }

.right-nav .btn-submit {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #787878;
  text-decoration: none; }
  .right-nav .btn-submit:hover {
    color: #616161; }
.right-nav img {
  width: 20px; }
.right-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }
  .right-nav a:hover {
    text-decoration: none; }
.right-nav a:not(.btn-submit) {
  margin-right: 2em; }

.m-nav {
  cursor: pointer;
  width: 40px;
  height: auto;
  color: #ffffff; }

.mnav-overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 2090;
  top: 0;
  left: 0;
  background: #0c1476;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #0c1476, #680fac 60%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #0c1476, #680fac 60%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.mnav-overlay a {
  font-family: "Roboto", sans-serif;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s; }

.mnav-overlay a:hover, .mnav-overlay a:focus {
  color: #f1f1f1;
  text-decoration: none; }

.mnav-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px; }
  .mnav-overlay .closebtn:hover {
    text-decoration: none; }

@media screen and (max-height: 450px) {
  .mnav-overlay {
    overflow-y: auto; }

  .mnav-overlay a {
    font-size: 20px; }

  .mnav-overlay .closebtn {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    top: 15px;
    right: 15px;
    text-decoration: none; } }
@media (min-width: 991px) {
  .m-nav {
    display: none; } }
@media (max-width: 991px) {
  .nav-area {
    padding: 10px; }
    .nav-area .logo a {
      margin-right: 5px; }
      .nav-area .logo a img {
        width: 80px;
        height: auto; }
    .nav-area .right-nav {
      margin-left: auto; }
      .nav-area .right-nav .btn-submit {
        padding: 5px; }
      .nav-area .right-nav img {
        width: 16px;
        height: auto; }
      .nav-area .right-nav a {
        font-size: 16px; }
        .nav-area .right-nav a:not(:last-child) {
          margin-right: .6em; }

  .center-nav {
    display: none; } }
@media (max-width: 567px) {
  .right-nav {
    margin-left: auto; }
    .right-nav .btn-submit {
      padding: 5px; }
    .right-nav img {
      width: 16px;
      height: auto; }
    .right-nav a {
      font-size: 11px; }
      .right-nav a:not(:last-child) {
        margin-right: .8em; } }
@media (max-width: 1200px) {
  .center-nav {
    margin-right: auto;
    margin-left: auto; }
    .center-nav a {
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
      font-family: "Roboto", sans-serif; }
      .center-nav a:hover {
        text-decoration: none;
        color: #ffffff; }
    .center-nav a:not(:last-child) {
      margin-right: 1em; } }
/* =================================
             Header Text Area
   ================================= */
.header-text {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff; }
  .header-text h2 {
    font-family: "TrebuchetMS-Bold", sans-serif;
    font-size: 5vmin;
    padding-bottom: 35px; }
  .header-text p {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 1px; }
  .header-text a {
    margin-top: 40px;
    display: inline-flex;
    background: #fff;
    padding: 12px 25px;
    text-decoration: none;
    color: #808080; }
    .header-text a:hover {
      text-decoration: none;
      color: #808080; }
    .header-text a span img {
      width: 35px;
      height: auto;
      padding-left: 5px; }

@media (max-width: 768px) {
  .header-text h2 {
    padding-bottom: 15px; }
  .header-text p:last-of-type {
    display: none; }
  .header-text a {
    padding: 10px 20px; } }
/* =================================
    For Logo category text, dropdown
       button and logo thumbnail
   ================================= */
.logothumbnail-area {
  background: #eff1f5;
  padding: 100px 0; }
  .logothumbnail-area .logo-displayarea {
    margin-top: 20px; }
  .logothumbnail-area .ll-button-text {
    margin-bottom: 50px; }
    .logothumbnail-area .ll-button-text h2 {
      font-family: "TrebuchetMS-Bold", sans-serif;
      font-size: 50px;
      color: #5d5d5d;
      padding-bottom: 30px; }
    .logothumbnail-area .ll-button-text .select {
      position: relative;
      display: inline-block;
      margin-bottom: 15px;
      width: 300px; }
      .logothumbnail-area .ll-button-text .select select {
        font-family: "TrebuchetMS", sans-serif;
        font-size: 20px;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 20px 25px;
        outline: 0;
        border: 1px solid #c8c8c8;
        border-radius: 5px !important;
        background: #ffffff;
        color: #8e8e8e;
        font-weight: normal;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; }
        .logothumbnail-area .ll-button-text .select select::-ms-expand {
          display: none; }
        .logothumbnail-area .ll-button-text .select select:hover, .logothumbnail-area .ll-button-text .select select :focus {
          background: #ffffff;
          outline: 0; }
      .logothumbnail-area .ll-button-text .select .select__arrow {
        position: absolute;
        top: 45%;
        right: 15px;
        width: 0;
        height: 0;
        pointer-events: none;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #7b7b7b transparent transparent transparent; }
    .logothumbnail-area .ll-button-text .select select:hover ~ .select__arrow,
    .logothumbnail-area .ll-button-text .select select:focus ~ .select__arrow {
      border-top-color: darkgray; }
  .logothumbnail-area .logo-thumb {
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 30px; }
    .logothumbnail-area .logo-thumb .logo-caption {
      border-top: 1px solid #e0e2e6;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1.5em; }
      .logothumbnail-area .logo-thumb .logo-caption .ll-category {
        color: #6e6e6e;
        font-family: "Roboto", sans-serif;
        font-size: 15px; }
      .logothumbnail-area .logo-thumb .logo-caption .ll-price {
        position: relative;
        bottom: 5px;
        color: #2452a2;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: bold; }
        .logothumbnail-area .logo-thumb .logo-caption .ll-price span {
          font-size: 12px;
          margin-right: 10px;
          font-weight: 300;
          color: #6e6e6e;
          text-decoration: line-through;
          display: inline-block;
          position: relative;
          bottom: 3px; }
  .logothumbnail-area .viewall-logo a {
    background: #e3e6ee;
    display: block;
    color: #8c909c;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 1.2em; }
    .logothumbnail-area .viewall-logo a:hover {
      background: #c3cadb; }

/* =====================================
     For Buy logos and Sell Logos Area
   ===================================== */
.buysell-logosarea {
  background: #ffffff;
  padding: 80px 0; }
  .buysell-logosarea .ll-buylogos:after {
    content: '';
    border-right: 1px solid #5e5e5e;
    height: 75%;
    width: 1px;
    position: absolute;
    bottom: 23%;
    right: 0; }
  .buysell-logosarea .ll-buylogos h2 {
    font-family: "TrebuchetMS-Bold", sans-serif;
    padding-bottom: 100px;
    color: #707070;
    font-size: 50px; }
  .buysell-logosarea .ll-buylogos p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #707070;
    font-weight: 300;
    line-height: 2em; }
  .buysell-logosarea .ll-buylogos a {
    max-width: 250px;
    margin: 50px auto;
    display: block;
    background: #CA49D9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 98%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 20px 0;
    text-decoration: none; }
    .buysell-logosarea .ll-buylogos a:hover {
      text-decoration: none; }
  .buysell-logosarea .ll-buylogos .buy-logoimage {
    padding-bottom: 100px; }
    .buysell-logosarea .ll-buylogos .buy-logoimage img {
      width: 200px;
      height: auto; }
  .buysell-logosarea .ll-selllogos h2 {
    font-family: "TrebuchetMS-Bold", sans-serif;
    padding-bottom: 90px;
    color: #707070;
    font-size: 50px; }
  .buysell-logosarea .ll-selllogos p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #707070;
    font-weight: 300;
    line-height: 2em; }
  .buysell-logosarea .ll-selllogos a {
    max-width: 250px;
    margin: 50px auto;
    display: block;
    background: #CA49D9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 98%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #ca49d9, #8C42D5 100%, #2452a2 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 20px 0;
    text-decoration: none; }
    .buysell-logosarea .ll-selllogos a:hover {
      text-decoration: none; }
  .buysell-logosarea .ll-selllogos .sell-logoimage {
    padding-bottom: 90px; }
    .buysell-logosarea .ll-selllogos .sell-logoimage img {
      width: 200px;
      height: auto; }

/* ====================================
     For Logo Details Page (Page Two)
   ==================================== */
.logodeatils-area {
  padding-top: 40px;
  padding-bottom: 60px;
  background: #eff1f5; }
  .logodeatils-area .logodetails-description {
    margin-top: 25px; }
    .logodeatils-area .logodetails-description p {
      color: #636363;
      font-family: "Roboto", sans-serif;
      line-height: 2em;
      font-size: 14px; }

.llsimilar-logos {
  margin-top: 45px; }
  .llsimilar-logos h3 {
    font-family: "TrebuchetMS-Bold", sans-serif;
    font-size: 28px;
    color: #535353;
    margin-bottom: 25px; }
  .llsimilar-logos .logo-thumb {
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 30px; }
    .llsimilar-logos .logo-thumb .logo-caption {
      border-top: 1px solid #e0e2e6;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em; }
      .llsimilar-logos .logo-thumb .logo-caption .ll-category {
        color: #6e6e6e;
        font-family: "Roboto", sans-serif;
        font-size: 12px; }
      .llsimilar-logos .logo-thumb .logo-caption .ll-price {
        position: relative;
        color: #2452a2;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: bold; }
        .llsimilar-logos .logo-thumb .logo-caption .ll-price span {
          font-size: 10px;
          margin-right: 10px;
          font-weight: 300;
          color: #6e6e6e;
          text-decoration: line-through;
          display: inline-block;
          position: relative;
          bottom: 3px; }

.lldetails-sidebararea {
  margin-top: 5px;
  padding: 25px;
  background: #ffffff; }
  .lldetails-sidebararea .lldetails-sidebar h4 {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: #616161;
    margin-bottom: 5px; }
  .lldetails-sidebararea .lldetails-sidebar span {
    display: block;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    color: #787878; }
  .lldetails-sidebararea .lldetails-sidebar .llbuyer-img {
    display: inline; }
    .lldetails-sidebararea .lldetails-sidebar .llbuyer-img img {
      border-radius: 5px;
      width: 32px;
      height: 32px;
      display: inline-block;
      margin-right: 5px;
      object-fit: cover; }
  .lldetails-sidebararea .lldetails-price h3 {
    color: #2452a2;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 35px 0; }
    .lldetails-sidebararea .lldetails-price h3 span {
      color: #c5c5c5;
      font-size: 21px;
      text-decoration: line-through;
      font-weight: 300;
      position: relative;
      bottom: 6px; }
  .lldetails-sidebararea .lldetails-customizeprice input + label {
    font-family: "Roboto", sans-serif;
    color: #616161;
    font-size: 18px; }
  .lldetails-sidebararea .lldetails-customizeprice span {
    font-weight: 300; }
  .lldetails-sidebararea .lldetails-customizeprice a {
    background: #ca49d9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #ca49d9, #2452a2 60%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #ca49d9, #2452a2 60%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    padding: .6em 0;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 30px 0;
    text-decoration: none; }
    .lldetails-sidebararea .lldetails-customizeprice a:hover {
      text-decoration: none;
      color: #ffffff; }
  .lldetails-sidebararea .logo-shortbrief table tr {
    font-family: "Roboto", sans-serif;
    display: block;
    margin-bottom: 10px;
    font-size: 14px; }
    .lldetails-sidebararea .logo-shortbrief table tr td {
      margin-bottom: 10px; }
      .lldetails-sidebararea .logo-shortbrief table tr td:first-child {
        color: #4a4a4a; }
      .lldetails-sidebararea .logo-shortbrief table tr td:last-child {
        text-align: right;
        font-size: 12px;
        font-weight: 300;
        color: #787878; }

.llotherlogos-user {
  background: #e7eaf1;
  padding: 50px 0; }
  .llotherlogos-user h3 {
    font-family: "TrebuchetMS", sans-serif;
    font-size: 28px;
    color: #535353;
    margin-bottom: 25px; }
  .llotherlogos-user .llotherlogos-userthumb {
    display: flex;
    flex-wrap: wrap; }
    .llotherlogos-user .llotherlogos-userthumb .logo-thumb {
      background: #ffffff;
      cursor: pointer;
      margin-bottom: 30px; }
      .llotherlogos-user .llotherlogos-userthumb .logo-thumb .logo-caption {
        border-top: 1px solid #e0e2e6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em; }
        .llotherlogos-user .llotherlogos-userthumb .logo-thumb .logo-caption .ll-category {
          color: #6e6e6e;
          font-family: "Roboto", sans-serif;
          font-size: 12px; }
        .llotherlogos-user .llotherlogos-userthumb .logo-thumb .logo-caption .ll-price {
          position: relative;
          color: #2452a2;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: bold; }
          .llotherlogos-user .llotherlogos-userthumb .logo-thumb .logo-caption .ll-price span {
            font-size: 8px;
            margin-right: 5px;
            font-weight: 300;
            color: #6e6e6e;
            text-decoration: line-through;
            display: inline-block;
            position: relative;
            bottom: 3px; }

/* ========================================
    For All Logo and Category Area(page 3)
   ======================================== */
.llalllogos-area {
  background: #eff1f5;
  padding-top: 50px; }
  .llalllogos-area .llfiltering-area h2 {
    color: #636363;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 28px;
    border-bottom: 1px solid #b8b8b8;
    padding-bottom: 15px;
    margin-bottom: 20px; }
  .llalllogos-area .llcategory-text {
    border-bottom: 1px solid #b8b8b8; }
    .llalllogos-area .llcategory-text p {
      font-family: "Roboto", sans-serif;
      color: #636363;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      display: block;
      padding-bottom: 15px; }
      .llalllogos-area .llcategory-text p label {
        padding-left: 10px; }
        .llalllogos-area .llcategory-text p label span {
          font-weight: 300; }
  .llalllogos-area .llcategory-color {
    margin-top: 20px;
    margin-bottom: 20px; }
    .llalllogos-area .llcategory-color h3 {
      color: #636363;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 28px;
      margin-bottom: 20px; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter span {
      width: 28px;
      height: 28px;
      display: inline-block;
      cursor: pointer; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf1 {
      background: #3D6CBF; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf2 {
      background: #239524; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf3 {
      background: #564ABA; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf4 {
      background: #0B285A; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf5 {
      background: #6F27B4; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf6 {
      background: #38C4BF; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf7 {
      background: #FB8865; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf8 {
      background: #D62E78; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf9 {
      background: #CE2B2B; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf10 {
      background: #3D6CBF; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf11 {
      background: #3D6CBF; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf12 {
      background: #239524; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf13 {
      background: #564ABA; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf14 {
      background: #0B285A; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf15 {
      background: #6F27B4; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf16 {
      background: #38C4BF; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf17 {
      background: #FB8865; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf18 {
      background: #D62E78; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf19 {
      background: #CE2B2B; }
    .llalllogos-area .llcategory-color .llcategory-colorfilter .cf20 {
      background: #3D6CBF; }
  .llalllogos-area .llsell-trending {
    border-bottom: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8; }
    .llalllogos-area .llsell-trending .llcontrol-group {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 10px;
      padding-top: 15px; }
      .llalllogos-area .llsell-trending .llcontrol-group .control {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #606060; }
        .llalllogos-area .llsell-trending .llcontrol-group .control input {
          position: absolute;
          z-index: -1;
          opacity: 0; }
      .llalllogos-area .llsell-trending .llcontrol-group .control__indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;
        border-radius: 50%; }
    .llalllogos-area .llsell-trending .control:hover input ~ .control__indicator,
    .llalllogos-area .llsell-trending .control input:focus ~ .control__indicator {
      background: #ccc; }
    .llalllogos-area .llsell-trending .control input:checked ~ .control__indicator {
      background: #707070; }
    .llalllogos-area .llsell-trending .control input:disabled ~ .control__indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none; }
    .llalllogos-area .llsell-trending .control__indicator:after {
      content: '';
      position: absolute;
      display: none; }
    .llalllogos-area .llsell-trending .control input:checked ~ .control__indicator:after {
      display: block; }
    .llalllogos-area .llsell-trending .control--checkbox .control__indicator:after {
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
    .llalllogos-area .llsell-trending .control--checkbox input:disabled ~ .control__indicator:after {
      border-color: #7b7b7b; }
    .llalllogos-area .llsell-trending .control--radio .control__indicator:after {
      left: 7px;
      top: 7px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #fff; }
  .llalllogos-area .logo-thumb {
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 30px; }
    .llalllogos-area .logo-thumb .logo-caption {
      border-top: 1px solid #e0e2e6;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em; }
      .llalllogos-area .logo-thumb .logo-caption .ll-category {
        color: #6e6e6e;
        font-family: "Roboto", sans-serif;
        font-size: 12px; }
      .llalllogos-area .logo-thumb .logo-caption .ll-price {
        position: relative;
        bottom: 2px;
        color: #2452a2;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: bold; }
        .llalllogos-area .logo-thumb .logo-caption .ll-price span {
          font-size: 10px;
          margin-right: 5px;
          font-weight: 300;
          color: #6e6e6e;
          text-decoration: line-through;
          display: inline-block;
          position: relative;
          bottom: 3px; }

/* =================================
     Logo Purchase Details (Page 4)
   ================================= */
.llpurchase-detailsarea {
  padding-top: 60px;
  background: #eff1f5; }
  .llpurchase-detailsarea h2 {
    color: #616161;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-bottom: .2em; }
  .llpurchase-detailsarea .llpurchase-details {
    background: #ffffff; }
    .llpurchase-detailsarea .llpurchase-details .llpurchase-form {
      border-bottom: 1px solid #b5b5b5; }
      .llpurchase-detailsarea .llpurchase-details .llpurchase-form .llpurchase-logos {
        padding: 20px; }
        .llpurchase-detailsarea .llpurchase-details .llpurchase-form .llpurchase-logos p {
          cursor: pointer;
          display: inline-block;
          margin: 0;
          color: #616161;
          font-family: "Roboto", sans-serif;
          text-transform: capitalize;
          font-size: 20px; }
          .llpurchase-detailsarea .llpurchase-details .llpurchase-form .llpurchase-logos p img {
            width: 200px;
            height: 100%;
            display: inline-block;
            object-fit: cover;
            padding-right: .5em; }
      .llpurchase-detailsarea .llpurchase-details .llpurchase-form .llpurchase-logoprice {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 20px 0; }
        .llpurchase-detailsarea .llpurchase-details .llpurchase-form .llpurchase-logoprice p {
          margin: 0;
          cursor: pointer; }
          .llpurchase-detailsarea .llpurchase-details .llpurchase-form .llpurchase-logoprice p:first-of-type {
            font-family: "Roboto", sans-serif;
            color: #2452a2;
            font-size: 2em; }
          .llpurchase-detailsarea .llpurchase-details .llpurchase-form .llpurchase-logoprice p:last-of-type {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: lighter;
            letter-spacing: 1px;
            text-transform: capitalize; }
          .llpurchase-detailsarea .llpurchase-details .llpurchase-form .llpurchase-logoprice p span img {
            width: 12px;
            height: auto;
            position: relative;
            bottom: 2px;
            right: .3em; }
  .llpurchase-detailsarea .lldiscount-code {
    padding: 3.5em 1em;
    min-height: 80px;
    border-bottom: 1px solid #b5b5b5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .llpurchase-detailsarea .lldiscount-code .llcoupon-text {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      color: #616161;
      font-weight: lighter; }
    .llpurchase-detailsarea .lldiscount-code .llcoupon-form form input {
      text-align: center;
      width: 12em;
      margin-left: 10px;
      display: inline-block; }
      .llpurchase-detailsarea .lldiscount-code .llcoupon-form form input:focus {
        outline: none; }
    .llpurchase-detailsarea .lldiscount-code .llcoupon-form form input[type="text"] {
      border: none;
      background: #eeeeee;
      padding: 10px 5px;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      color: #2452a2; }
    .llpurchase-detailsarea .lldiscount-code .llcoupon-form form input[type="submit"] {
      border: none;
      padding: 14px;
      background-color: #3F4DAF;
      cursor: pointer;
      display: block;
      width: 12em;
      font-family: "Roboto", sans-serif;
      color: #ffffff;
      letter-spacing: 1px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
      .llpurchase-detailsarea .lldiscount-code .llcoupon-form form input[type="submit"]:hover {
        background: #323d8a; }
  .llpurchase-detailsarea .llgrand-total {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 180px; }
    .llpurchase-detailsarea .llgrand-total .llcontinue-shoping a {
      background: #5057bc;
      padding: 1.5em 3em;
      color: #ffffff;
      font-size: 12px;
      text-transform: none;
      text-decoration: none; }
      .llpurchase-detailsarea .llgrand-total .llcontinue-shoping a:hover {
        text-decoration: none;
        background: #3c429d; }
    .llpurchase-detailsarea .llgrand-total .llgt-price p {
      color: #535353;
      font-family: "Roboto", sans-serif;
      margin: 0; }
      .llpurchase-detailsarea .llgrand-total .llgt-price p:first-child {
        font-size: 14px;
        font-weight: lighter; }
      .llpurchase-detailsarea .llgrand-total .llgt-price p:last-child {
        font-size: 32px;
        font-weight: bold;
        text-transform: capitalize; }
  .llpurchase-detailsarea .llpaypal-brief {
    background: #ffffff;
    cursor: pointer; }
    .llpurchase-detailsarea .llpaypal-brief img {
      width: 100px;
      height: auto; }
    .llpurchase-detailsarea .llpaypal-brief small {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #989898; }
    .llpurchase-detailsarea .llpaypal-brief:hover {
      border: 1px solid blue; }
  .llpurchase-detailsarea .llintgateway-brief {
    background: #ffffff;
    cursor: pointer; }
    .llpurchase-detailsarea .llintgateway-brief img {
      height: 30px;
      width: auto; }
    .llpurchase-detailsarea .llintgateway-brief small {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #989898; }
  .llpurchase-detailsarea .lldisplay-total {
    background: #ffffff; }
    .llpurchase-detailsarea .lldisplay-total p {
      font-size: 2em;
      color: #2452a2;
      font-family: "Roboto", sans-serif; }
      .llpurchase-detailsarea .lldisplay-total p span {
        font-weight: 600; }
    .llpurchase-detailsarea .lldisplay-total a {
      background: #ca49d9;
      background: -moz-linear-gradient(left, #ca49d9 0%, #5057bc 100%);
      background: -webkit-linear-gradient(left, #ca49d9 0%, #5057bc 100%);
      background: linear-gradient(to right, #ca49d9 0%, #5057bc 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca49d9', endColorstr='#5057bc', GradientType=1);
      display: block;
      letter-spacing: 1px;
      margin: auto;
      padding: .8em 3em;
      color: #ffffff;
      font-size: 22px;
      text-decoration: none;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
      .llpurchase-detailsarea .lldisplay-total a:hover {
        text-decoration: none; }

/* =================================
    For  How it Works Page (Page 5)
   ================================= */
.llhiw-area {
  background: #f8f8f8;
  padding-top: 8vh; }
  .llhiw-area .llhiw-header {
    margin-bottom: 15vh; }
    .llhiw-area .llhiw-header h2 {
      color: #606060;
      font-family: "TrebuchetMS", sans-serif;
      font-size: 40px;
      display: inline-block;
      position: relative; }
      .llhiw-area .llhiw-header h2::after {
        content: '';
        position: absolute;
        left: 10%;
        display: inline-block;
        height: 1em;
        width: 80%;
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, #CA49D9, #2452A2);
        border-image-slice: 1;
        opacity: 0.6;
        margin-top: 15px; }
  .llhiw-area .llhiw-text {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .llhiw-area .llhiw-text p {
      font-family: "TrebuchetMS", sans-serif;
      margin: 0;
      padding-bottom: 25px;
      font-size: 32px;
      line-height: 1.2em;
      color: #606060; }
      .llhiw-area .llhiw-text p span:first-child {
        display: inline-block;
        position: relative;
        top: 35px;
        font-size: 80px;
        color: #808080;
        opacity: 0.2; }
      .llhiw-area .llhiw-text p span:last-child {
        display: block;
        color: #606060;
        margin-left: 45px; }
    .llhiw-area .llhiw-text small {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      line-height: 2em;
      color: #808080;
      font-weight: lighter;
      margin-left: 45px; }

/* =================================
              For FAQ (Page 6)
   ================================= */
.faq-area {
  background: #f8f8f8;
  padding-top: 8vh;
  overflow: hidden; }

.container-wh {
  background: #ffffff;
  margin-bottom: 100px;
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); }

.faq-title {
  margin-bottom: 10vh; }
  .faq-title h2 {
    color: #606060;
    font-family: "TrebuchetMS", sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    display: inline-block;
    position: relative; }
    .faq-title h2::after {
      content: '';
      position: absolute;
      left: 10%;
      display: inline-block;
      height: 1em;
      width: 80%;
      border-bottom: 2px solid;
      border-image: linear-gradient(to right, #CA49D9, #2452A2);
      border-image-slice: 1;
      opacity: 0.6;
      margin-top: 15px; }

.faq-main {
  background: #ffffff; }

.accordion-container {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 50px 0; }

.ac {
  margin-top: 10px;
  background-color: #fff;
  font-family: "Roboto", sans-serif; }

.ac > .ac-q {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  color: #929292;
  padding: 20px 10px 20px;
  margin: 0;
  text-decoration: none;
  display: block;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #dddddd; }
  .ac > .ac-q:focus {
    outline: none; }

.ac > .ac-q::after {
  font-family: FontAwesome;
  font-weight: 300;
  font-size: 14px;
  content: "\f054";
  text-align: center;
  right: 10px;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute; }

.ac > .ac-a {
  font-family: "Roboto", sans-serif;
  color: #929292;
  overflow: hidden;
  -o-transition-property: all;
  -o-transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-timing-function: ease;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1); }

.ac > .ac-a p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: lighter;
  color: #929292;
  margin-left: 20px;
  padding: 10px; }

.ac.active > .ac-q::after {
  font-family: FontAwesome;
  content: "\f078"; }

/* =================================
              For Login
   ================================= */
.lllogin-area .lllogin-form {
  background: #ffffff; }
  .lllogin-area .lllogin-form form {
    padding: 25px; }
    .lllogin-area .lllogin-form form input {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #818181;
      border: none;
      text-align: center;
      width: 100%;
      margin-bottom: 15px; }
      .lllogin-area .lllogin-form form input:focus {
        outline: none; }
    .lllogin-area .lllogin-form form input[type="text"] {
      border: 1px solid #9b9b9b;
      padding: 15px 5px; }
    .lllogin-area .lllogin-form form input[type="password"] {
      border: 1px solid #9b9b9b;
      padding: 15px 5px; }
    .lllogin-area .lllogin-form form input[type="submit"] {
      background: #ca49d9;
      background: -moz-linear-gradient(left, #ca49d9 0%, #5057bc 100%);
      background: -webkit-linear-gradient(left, #ca49d9 0%, #5057bc 100%);
      background: linear-gradient(to right, #ca49d9 0%, #5057bc 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca49d9', endColorstr='#5057bc', GradientType=1);
      color: #ffffff;
      padding: 12px 5px;
      margin-top: 15px;
      cursor: pointer; }
    .lllogin-area .lllogin-form form input[value="Login"] {
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 300; }
    .lllogin-area .lllogin-form form small {
      display: inline-block;
      color: #818181;
      letter-spacing: 1px;
      font-size: 14px;
      text-transform: uppercase;
      opacity: 0.57;
      cursor: pointer; }
    .lllogin-area .lllogin-form form a {
      background: #3b5998;
      display: block;
      color: #ffffff;
      padding: 12px 5px;
      text-decoration: none;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 300;
      cursor: pointer; }
      .lllogin-area .lllogin-form form a img {
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        bottom: 2px; }
    .lllogin-area .lllogin-form form p {
      cursor: pointer;
      color: #434242;
      font-family: "Roboto", sans-serif;
      opacity: 0.57;
      margin: 0;
      padding: 20px 0 0 0;
      font-weight: 300; }

/* =================================
              For Sign up
   ================================= */
.llsignup-area .llsignup-form {
  background: #ffffff; }
  .llsignup-area .llsignup-form form {
    padding: 25px; }
    .llsignup-area .llsignup-form form input {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #818181;
      border: none;
      text-align: center;
      width: 100%;
      margin-bottom: 15px; }
      .llsignup-area .llsignup-form form input:focus {
        outline: none; }
    .llsignup-area .llsignup-form form input[type="text"], .llsignup-area .llsignup-form form input[type="email"] {
      border: 1px solid #9b9b9b;
      padding: 15px 5px; }
    .llsignup-area .llsignup-form form input[type="password"] {
      border: 1px solid #9b9b9b;
      padding: 15px 5px; }
    .llsignup-area .llsignup-form form input[type="submit"] {
      background: #ca49d9;
      background: -moz-linear-gradient(left, #ca49d9 0%, #1771A8 100%);
      background: -webkit-linear-gradient(left, #ca49d9 0%, #1771A8 100%);
      background: linear-gradient(to right, #ca49d9 0%, #1771A8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca49d9', endColorstr='#1771A8 ', GradientType=1);
      color: #ffffff;
      padding: 12px 5px;
      cursor: pointer; }
    .llsignup-area .llsignup-form form input[value="Sign up"] {
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 300; }
    .llsignup-area .llsignup-form form p {
      cursor: pointer;
      color: #818181;
      font-family: "Roboto", sans-serif;
      opacity: 0.57;
      margin: 0;
      padding: 10px 0 0 0;
      font-weight: 300; }
    .llsignup-area .llsignup-form form small {
      color: #434242;
      opacity: 0.57;
      font-size: 16px;
      margin-top: 10px;
      display: block; }

/* =================================
         For Main Footer Area
   ================================= */
.mainfooter-area {
  background: #404044;
  padding: 150px 0; }
  .mainfooter-area h2 {
    color: #ffffff;
    font-family: "TrebuchetMS", sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
    letter-spacing: 1px; }

.ll-footer-about {
  position: relative; }
  .ll-footer-about:after {
    content: '';
    border-right: 1px solid #8b8b8b;
    position: absolute;
    right: 10%;
    top: 20%;
    width: 1px;
    height: 80%; }
  .ll-footer-about p {
    width: 75%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    color: #8b8b8b;
    font-weight: 300; }

.ll-footer-ourcompany, .ll-footer-faq {
  position: relative; }
  .ll-footer-ourcompany:after, .ll-footer-faq:after {
    content: '';
    border-right: 1px solid #8b8b8b;
    position: absolute;
    right: 10%;
    top: 20%;
    width: 1px;
    height: 80%; }
  .ll-footer-ourcompany a, .ll-footer-faq a {
    display: block;
    min-width: 30%;
    max-width: 50%;
    color: #8b8b8b;
    font-family: "Roboto", sans-serif;
    padding: 2px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 2px; }
    .ll-footer-ourcompany a:hover, .ll-footer-faq a:hover {
      background: #8b8b8b;
      color: #404044;
      text-decoration: none; }

.ll-footer-newsletter p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  color: #8b8b8b;
  font-weight: 300; }

.ll-subscription {
  max-width: 300px;
  display: block; }

.ll-subscription form {
  font-family: "Roboto", sans-serif;
  border-radius: 30px; }

.ll-subscription form button {
  border: none;
  font-size: 25px;
  padding: 3px 15px;
  /*gradient*/
  background: #ca4989;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #ca4989, #df63c0 60%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #ca4989, #df63c0 60%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*end gradient*/
  font-family: 'Proxima Nova', sans-serif;
  color: #FFFFFF;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px #404044;
  box-shadow: 0 0 1px #404044; }

.ll-flex {
  align-items: center;
  display: flex; }

.ll-subscription form input {
  padding: 10px;
  height: 43px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  color: #646F79;
  font-size: 14px;
  border: 1px solid #8b8b8b;
  border-right: none;
  width: 100%;
  background: transparent; }

.ll-subscription form input:focus {
  outline: none; }

.ll-socialmedia {
  margin-top: 30px;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .ll-socialmedia img {
    width: 40px;
    height: auto; }

@media (max-width: 1200px) {
  .ll-footer-about {
    position: relative; }
    .ll-footer-about:after {
      content: '';
      border: 0;
      position: absolute;
      right: 0;
      top: 20%;
      width: 0;
      height: 0; }
    .ll-footer-about p {
      width: 100%; } }
/* =================================
         For Footer Copyright
   ================================= */
.copyright-area {
  background: #181819;
  margin: 0;
  padding: 0; }
  .copyright-area .ll-paymentlogo {
    cursor: pointer; }
    .copyright-area .ll-paymentlogo img {
      margin: 0;
      width: auto;
      height: 30px; }
  .copyright-area .ll-copyright p {
    margin: 0;
    color: #9b9b9b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px; }

@media (max-width: 567px) {
  .copyright-area .ll-copyright p {
    font-size: 12px; } }

/*# sourceMappingURL=main.css.map */
