/* =================================
       Importing All font family
   ================================= */

@font-face {
  font-family: 'TrebuchetMS';
  src: url('../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'), url('../fonts/TrebuchetMS.woff') format('woff'), url('../fonts/TrebuchetMS.ttf') format('truetype'), url('../fonts/TrebuchetMS.svg#TrebuchetMS') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrebuchetMS-Bold';
  src: url('../fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TrebuchetMS-Bold.woff') format('woff'), url('../fonts/TrebuchetMS-Bold.ttf') format('truetype'), url('../fonts/TrebuchetMS-Bold.svg#TrebuchetMS-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ====================================
      Common Variable Declerations
   ==================================== */

$ff: 'Roboto', sans-serif;
$ft: 'TrebuchetMS', sans-serif;
$fb: 'TrebuchetMS-Bold', sans-serif;
$bg: #eff1f5;
$blue-colors:#2452a2;
$gray-colors:#616161;
body {
  background: #eff1f5 !important;
}

/* =================================
          Main Navigation Area
   ================================= */
.nav-area {
  font-family: $ff;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background: gray;

  .logo {

    a {
      img {
        width: auto;
        height: 40px;
      }
    }
  }

}

.center-nav {
  margin-right: auto;

  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: $ff;
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }
  a:not(:last-child) {
    margin-right: 5em;
  }
}

.right-nav {
  .btn-submit {
    background: #ffffff;
    padding: 10px;
    color: #787878;
    text-decoration: none;
  }
  img {
    width: 20px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: $ff;
    &:hover {
      text-decoration: none;
    }
  }
  a:not(:last-child) {
    margin-right: 2em;
  }
}

//End Main Navigation Area

/* =================================
             Header Text Area
   ================================= */

.header-text {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  h2 {
    font-family: $fb;
    font-size: 5vmin;
    padding-bottom: 35px;
  }
  p {
    margin: 0;
    padding: 0;
    font-family: $ff;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 1px;
  }
  a {
    margin-top: 40px;
    display: inline-flex;
    background: #fff;
    padding: 12px 25px;
    text-decoration: none;
    color: #808080;
    &:hover {
      text-decoration: none;
      color: #808080;
    }
    span {
      img {
        width: 35px;
        height: auto;
        padding-left: 5px;
      }
    }

  }
}

//End Header Text Area

/* =================================
    For Logo category text, dropdown
       button and logo thumbnail
   ================================= */
.logothumbnail-area {
  background: #eff1f5;
  padding: 100px 0;

  .logo-displayarea {
    margin-top: 20px;
  }

  .ll-button-text {
    h2 {
      font-family: $fb;
      font-size: 50px;
      color: #5d5d5d;
      padding-bottom: 30px;
    }

    //For home page Custom select design
    .select {
      position: relative;
      display: inline-block;
      margin: auto;
      margin-bottom: 50px;
      width: 18em;
      height: 4.5em;
      line-height: 3;
      background: #ffffff;
      overflow: hidden;
      border-radius: .25em;
      border: 1px solid #c8c8c8;
      &:hover::after {
        color: #680fac;
      }
      &::after {
        content: '\25BC';
        position: absolute;
        color: #8e8e8e;
        top: 0;
        right: 0;
        bottom: 0;
        padding: .6em 1em;
        background: #ffffff;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #ffffff;
        background-image: none;
        width: 100%;
        margin: 0 auto;
        padding: .2em 0 0 .8em;
        color: #8e8e8e;
        font-size: 20px;
        letter-spacing: 1px;
        font-family: $ft;
        cursor: pointer;
        &::-ms-expand {
          display: none;
        }
        &:focus {
          outline: none;
        }
      }

    }

    //End For home page Custom select design

  }

  //for all logo thumbnail
  .logo-thumb {
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 30px;
    .logo-caption {
      border-top: 1px solid #e0e2e6;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1.5em;

      .ll-category {
        color: #6e6e6e;
        font-family: $ff;
        font-size: 15px;
      }
      .ll-price {
        position: relative;
        bottom: 5px;
        span {
          font-size: 12px;
          margin-right: 10px;
          font-weight: 300;
          color: #6e6e6e;
          text-decoration: line-through;
          display: inline-block;
          position: relative;
          bottom: 3px;
        }
        color: #2452a2;
        font-family: $ff;
        font-size: 22px;
        font-weight: bold;

      }
    }

  }

  //end for all logo thumbnail

  //For view all logo link
  .viewall-logo {

    a {
      background: #e3e6ee;
      display: block;
      color: #8c909c;
      text-decoration: none;
      font-family: $ff;
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: 2px;
      padding: 1.2em;
      &:hover {
        background: darken(#e3e6ee, 10%);
      }
    }
  }
  //End For view all logo link

}

//end Logo category text, dropdown button and logo thumbnail

/* =====================================
     For Buy logos and Sell Logos Area
   ===================================== */
.buysell-logosarea {
  background: #ffffff;
  padding: 80px 0;
  .ll-buylogos {
    &:after {
      content: '';
      border-right: 1px solid #5e5e5e;
      height: 75%;
      width: 1px;
      position: absolute;
      bottom: 23%;
      right: 0;
    }

    h2 {
      font-family: $ft;
      padding-bottom: 100px;
      color: #707070;
      font-size: 50px;
    }
    p {
      font-family: $ff;
      font-size: 15px;
      margin: 0;
      padding: 0;
      color: #707070;
      font-weight: 300;
      line-height: 2em;
    }

    //button
    a {
      max-width: 250px;
      margin: 50px auto;
      display: block;
      background: #ca49d9; /* fallback for old browsers */
      background: -webkit-linear-gradient(135deg, #ca49d9, #2452a2 60%); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(135deg, #ca49d9, #2452a2 60%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #ffffff;
      font-family: $ff;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 1px;
      padding: 20px 0;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    .buy-logoimage {
      padding-bottom: 100px;
      img {
        width: 200px;
        height: auto;
      }
    }

  }

  .ll-selllogos {

    h2 {
      font-family: $ft;
      padding-bottom: 90px;
      color: #707070;
      font-size: 50px;
    }

    p {
      font-family: $ff;
      font-size: 15px;
      margin: 0;
      padding: 0;
      color: #707070;
      font-weight: 300;
      line-height: 2em;
    }

    a {
      max-width: 250px;
      margin: 50px auto;
      display: block;
      background: #ca49d9; /* fallback for old browsers */
      background: -webkit-linear-gradient(135deg, #ca49d9, #2452a2 60%); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(135deg, #ca49d9, #2452a2 60%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #ffffff;
      font-family: $ff;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 1px;
      padding: 20px 0;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    .sell-logoimage {
      padding-bottom: 90px;
      img {
        width: 200px;
        height: auto;
      }
    }

  }

}

//End Buy Logos and Sell Logos Area

/* ====================================
     For Logo Details Page (Page Two)
   ==================================== */
.logodeatils-area {
  padding-top: 40px;
  padding-bottom: 60px;
  background: #eff1f5;

  .logodetails-description {
    margin-top: 25px;
    p {
      color: #636363;
      font-family: $ff;
      line-height: 2em;
      font-size: 14px;
    }
  }

}

.llsimilar-logos {
  margin-top: 45px;
  h3 {
    font-family: $fb;
    font-size: 28px;
    color: #535353;
    margin-bottom: 25px;
  }

  //for logo details page similar logo thumbnail
  .logo-thumb {
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 30px;
    .logo-caption {
      border-top: 1px solid #e0e2e6;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em;

      .ll-category {
        color: #6e6e6e;
        font-family: $ff;
        font-size: 12px;
      }
      .ll-price {
        position: relative;
        span {
          font-size: 10px;
          margin-right: 10px;
          font-weight: 300;
          color: #6e6e6e;
          text-decoration: line-through;
          display: inline-block;
          position: relative;
          bottom: 3px;
        }
        color: #2452a2;
        font-family: $ff;
        font-size: 14px;
        font-weight: bold;

      }
    }

  }

  //end for logo details page similar logo thumbnail

}

.lldetails-sidebararea {
  margin-top: 5px;
  padding: 25px;
  background: #ffffff;

  .lldetails-sidebar {
    h4 {
      font-family: $ff;
      font-size: 22px;
      color: #616161;
      margin-bottom: 5px;
    }
    span {
      display: block;
      font-size: 14px;
      font-family: $ff;
      margin-bottom: 10px;
      color: #787878;
    }
    .llbuyer-img {
      display: inline;
      width: 32px;
      height: 32px;
      img {
        display: inline-block;
        padding-right: 5px;
        object-fit: cover;
      }
    }
  }

  .lldetails-price {
    h3 {
      color: #2452a2;
      font-family: $ff;
      font-size: 36px;
      font-weight: bold;
      padding: 35px 0;
      span {
        color: #c5c5c5;
        font-size: 21px;
        text-decoration: line-through;
        font-weight: 300;
        position: relative;
        bottom: 6px;
      }
    }
  }

  .lldetails-customizeprice {
    input + label {
      font-family: $ff;
      color: #616161;
      font-size: 18px;
    }
    span {
      font-weight: 300;
    }

    a {
      background: #ca49d9; /* fallback for old browsers */
      background: -webkit-linear-gradient(135deg, #ca49d9, #2452a2 60%); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(135deg, #ca49d9, #2452a2 60%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      display: block;
      width: 100%;
      text-transform: capitalize;
      text-align: center;
      color: #ffffff;
      font-family: $ff;
      padding: .6em 0;
      font-size: 25px;
      font-weight: normal;
      letter-spacing: 1px;
      margin: 30px 0;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: #ffffff;
      }
    }

  }

  .logo-shortbrief {
    table {
      tr {
        font-family: $ff;
        display: block;
        //width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        td {
          margin-bottom: 10px;
          &:first-child {
            color: #4a4a4a;

          }
          &:last-child {
            text-align: right;
            font-size: 12px;
            font-weight: 300;
            color: #787878;

          }

        }
      }
    }

  }

}

.llotherlogos-user {
  background: #e7eaf1;
  padding: 50px 0;
  h3 {
    font-family: $ft;
    font-size: 28px;
    color: #535353;
    margin-bottom: 25px;
  }
  .llotherlogos-userthumb {
    display: flex;
    flex-wrap: wrap;

    //for all logo User thumbnail at the bottom of the page
    .logo-thumb {
      background: #ffffff;
      cursor: pointer;
      margin-bottom: 30px;
      .logo-caption {
        border-top: 1px solid #e0e2e6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;

        .ll-category {
          color: #6e6e6e;
          font-family: $ff;
          font-size: 12px;
        }
        .ll-price {
          position: relative;

          span {
            font-size: 8px;
            margin-right: 5px;
            font-weight: 300;
            color: #6e6e6e;
            text-decoration: line-through;
            display: inline-block;
            position: relative;
            bottom: 3px;
          }
          color: #2452a2;
          font-family: $ff;
          font-size: 14px;
          font-weight: bold;

        }
      }

    }

    // End for all logo User thumbnail at the bottom of the page

  }
}

//End Logo Details Page Design (Page 2)

/* ========================================
    For All Logo and Category Area(page 3)
   ======================================== */

.llalllogos-area {
  background: $bg;
  padding-top: 50px;

  .llfiltering-area {
    h2 {
      color: #636363;
      font-family: $ff;
      font-weight: 400;
      font-size: 28px;
      border-bottom: 1px solid #b8b8b8;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }
  }

  .llcategory-text {
    border-bottom: 1px solid #b8b8b8;
    p {
      font-family: $ff;
      color: #636363;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      display: block;
      padding-bottom: 15px;

      label {
        padding-left: 10px;
        span {
          font-weight: 300;
        }
      }
    }
  }

  .llcategory-color {
    margin-top: 20px;
    margin-bottom: 20px;
    h3 {
      color: #636363;
      font-family: $ff;
      font-weight: 400;
      font-size: 28px;
      //border-bottom: 1px solid #b8b8b8;
      //padding-bottom: 15px;
      margin-bottom: 20px;
    }

    .llcategory-colorfilter {
      span {
        width: 28px;
        height: 28px;
        display: inline-block;
        cursor: pointer;
      }
      .cf1 {
        background: #3D6CBF;
      }
      .cf2 {
        background: #239524;
      }
      .cf3 {
        background: #564ABA;
      }
      .cf4 {
        background: #0B285A;
      }
      .cf5 {
        background: #6F27B4;
      }
      .cf6 {
        background: #38C4BF;
      }
      .cf7 {
        background: #FB8865;
      }
      .cf8 {
        background: #D62E78;
      }
      .cf9 {
        background: #CE2B2B;
      }
      .cf10 {
        background: #3D6CBF;
      }
      .cf11 {
        background: #3D6CBF;
      }
      .cf12 {
        background: #239524;
      }
      .cf13 {
        background: #564ABA;
      }
      .cf14 {
        background: #0B285A;
      }
      .cf15 {
        background: #6F27B4;
      }
      .cf16 {
        background: #38C4BF;
      }
      .cf17 {
        background: #FB8865;
      }
      .cf18 {
        background: #D62E78;
      }
      .cf19 {
        background: #CE2B2B;
      }
      .cf20 {
        background: #3D6CBF;
      }
    }

  }

  //Radio Button Design

  .llsell-trending {

    border-bottom: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;

    .llcontrol-group {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 10px;
      padding-top: 15px;

      .control {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 14px;
        font-family: $ff;
        font-weight: 300;
        color: #606060;
        input {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }
      }
      .control__indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;
        border-radius: 50%;
      }
    }

    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: #ccc;
    }
    .control input:checked ~ .control__indicator {
      background: #707070;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
      //background: #0e647d;
    }
    .control input:disabled ~ .control__indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }
    .control__indicator:after {
      content: '';
      position: absolute;
      display: none;
    }
    .control input:checked ~ .control__indicator:after {
      display: block;
    }
    .control--checkbox .control__indicator:after {
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    .control--checkbox input:disabled ~ .control__indicator:after {
      border-color: #7b7b7b;
    }
    .control--radio .control__indicator:after {
      left: 7px;
      top: 7px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #fff;
    }

  }

  //End Radio Button Design

  //for all logo thumbnail logo details
  .logo-thumb {
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 30px;
    .logo-caption {
      border-top: 1px solid #e0e2e6;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em;

      .ll-category {
        color: #6e6e6e;
        font-family: $ff;
        font-size: 12px;
      }
      .ll-price {
        position: relative;
        bottom: 2px;
        span {
          font-size: 10px;
          margin-right: 5px;
          font-weight: 300;
          color: #6e6e6e;
          text-decoration: line-through;
          display: inline-block;
          position: relative;
          bottom: 3px;
        }
        color: #2452a2;
        font-family: $ff;
        font-size: 16px;
        font-weight: bold;

      }
    }

  }

  //End for all logo thumbnail logo details
}

//End For All Logo and Category Area( Page 3)


/* =================================
     Logo Purchase Details (Page 4)
   ================================= */

.llpurchase-detailsarea {
  padding-top: 60px;
  background: $bg;
  h2{
    color:#616161;
    font-family: $ff;
    font-weight: 400;
    padding-bottom: .2em;
  }
  .llpurchase-details {
    background: #ffffff;


    .llpurchase-form{
      border-bottom: 1px solid #b5b5b5;

      .llpurchase-logos{
        padding: 20px;
        p{
          cursor: pointer;
          display: inline-block;
          margin: 0;
          color:#616161;
          font-family: $ff;
          text-transform: capitalize;
          font-size: 20px;
          img {
            width: 200px;
            height: 100%;
            display: inline-block;
            object-fit: cover;
            padding-right:.5em;
          }
        }
      }


      .llpurchase-logoprice{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 20px 0;
        p{
          margin: 0;
          cursor: pointer;
          &:first-of-type{
            font-family: $ff;
            color:$blue-colors;
            font-size: 2em;
          }
          &:last-of-type{
            font-family: $ff;
            font-size:16px;
            font-weight: lighter;
            letter-spacing: 1px;
            text-transform: capitalize;
          }

          span{
            img{
              width: 12px;
              height: auto;
              position: relative;
              bottom:2px;
              right: .3em;
            }
          }

        }
      }
    }
  }

  .lldiscount-code{
    padding: 3.5em 1em;
    height: 80px;
    border-bottom: 1px solid #b5b5b5;
    .llcoupon-text{
      font-family: $ff;
      font-size: 20px;
      color: $gray-colors;
      font-weight: lighter;
    }
    .llcoupon-form{
      form{
        input{
          text-align: center;
          width: 12em;
          margin-left: 10px;
          display: inline-block;
          &:focus{
            outline: none;
          }
        }
        input[type="text"]{
          border:none;
          background: #eeeeee;
          padding: 10px 5px;
          font-size: 16px;
          font-family: $ff;
          font-style:italic;
          color:$blue-colors;
        }

        input[type="submit"]{
          border: none;
          padding:14px;
          background-color:#3F4DAF;
          cursor:pointer;
          display:block;
          width:12em;
          font-family: $ff;
          color:#ffffff;
          letter-spacing: 1px;
          box-shadow: 0 0 2px rgba(0,0,0,0.3);
          &:hover{
            background: darken(#3F4DAF, 10%);
          }
        }


      }
    }



  }



  .llgrand-total{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height:180px;

    .llcontinue-shoping{
      a{
        background: #5057bc;
        padding: 1.5em 3em;
        color:#ffffff;
        font-size: 12px;
        text-transform: none;
        text-decoration: none;
        &:hover{
          text-decoration: none;
          background: darken(#5057bc, 10%);
        }
      }
    }
    .llgt-price{
      p{
        color: #535353;
        font-family: $ff;
        margin: 0;
        &:first-child{
          font-size: 14px;
          font-weight: lighter;
        }

        &:last-child{
          font-size: 32px;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
  }




  .llpaypal-brief{
    background: #ffffff;
    cursor: pointer;
    img {
      width:100px;
      height:auto;
    }
    small{
      font-family: $ff;
      font-weight:normal;
      color:#989898;
    }

    &:hover{
    border: 1px solid blue;
  }

  }

  .llintgateway-brief{
    background: #ffffff;
    cursor: pointer;
    img{
      height: 30px;
      width: auto;
    }

    small{
      font-family: $ff;
      font-weight:normal;
      color:#989898;
    }
  }

.lldisplay-total{
  width: 35vw;
  display: block;
  background: #ffffff;
  margin: 0 auto;
  p{
    font-size: 2em;
    color:#2452a2;
    font-family: $ff;
    span{
      font-weight:600;
    }
  }

    a{
      background: #ca49d9;
      background: -moz-linear-gradient(left, #ca49d9 0%, #5057bc 100%);
      background: -webkit-linear-gradient(left, #ca49d9 0%,#5057bc 100%);
      background: linear-gradient(to right, #ca49d9 0%,#5057bc 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca49d9', endColorstr='#5057bc',GradientType=1 );
      width: 25vw;
      display: block;
      letter-spacing: 1px;
      margin: auto;
      padding: .8em 3em;
      color:#ffffff;
      font-size: 22px;
      text-decoration: none;
      box-shadow: 0 0 2px rgba(0,0,0,0.3);
      &:hover{
        text-decoration: none;
      }
    }

}



}

//End Logo Purchase Details (Page 4)

/* =================================
         For Main Footer Area
   ================================= */
.mainfooter-area {
  background: #404044;
  padding: 150px 0;

  h2 {
    color: #ffffff;
    font-family: $ft;
    font-size: 24px;
    margin-bottom: 25px;
    letter-spacing: 1px;
  }
}

.ll-footer-about {

  p {
    font-family: $ff;
    font-size: 14px;
    line-height: 1.8em;
    color: #8b8b8b;
    font-weight: 300;
  }

  &:after {
    content: '';
    border-right: 1px solid #8b8b8b;
    position: absolute;
    right: 20%;
    top: 20%;
    width: 1px;
    height: 80%;
  }

}

.ll-footer-ourcompany, .ll-footer-faq {
  &:after {
    content: '';
    border-right: 1px solid #8b8b8b;
    position: absolute;
    right: 20%;
    top: 20%;
    width: 1px;
    height: 80%;
  }
  a {
    display: block;
    min-width: 30%;
    max-width: 50%;
    color: #8b8b8b;
    font-family: $ff;
    padding: 2px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 2px;
    &:hover {
      background: #8b8b8b;
      color: #404044;
      text-decoration: none;
    }
  }

}

.ll-footer-newsletter {
  p {
    font-family: $ff;
    font-size: 14px;
    line-height: 1.8em;
    color: #8b8b8b;
    font-weight: 300;
  }
}

//Footer Newsletter

.ll-subscription {
  width: 300px;
  display: block;
}

.ll-subscription form {
  font-family: $ff;
  border-radius: 30px;
}

.ll-subscription form button {

  border: none;
  font-size: 25px;
  padding: 3px 15px;
  /*gradient*/
  background: #ca4989; /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #ca4989, #df63c0 60%); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #ca4989, #df63c0 60%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*end gradient*/
  //height: 51.9px;
  //font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
  color: #FFFFFF;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px #404044;
  box-shadow: 0 0 1px #404044;
}

.ll-flex {
  align-items: center;
  display: flex;
}

.ll-subscription form input {
  padding: 10px;
  height: 43px;
  border-radius: 25px;
  font-family: $ff;
  color: #646F79;
  font-size: 14px;
  //border:0;
  border: 1px solid #8b8b8b;
  border-right: none;
  width: 100%;
  background: transparent;;
}

.ll-subscription form input:focus {
  outline: none;
}

//End Footer Newsletter

//Footer Social
.ll-socialmedia {
  margin-top: 30px;
  width: 300px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    width: 42px;
    height: auto;
  }
}

//End Footer Social

/* =================================
         For Footer Copyright
   ================================= */

.copyright-area {
  background: #181819;
  margin: 0;
  padding: 0;

  .ll-paymentlogo {
    img {
      width: auto;
      height: 30px;
    }
  }

  .ll-copyright {
    p {
      color: #9b9b9b;
      font-family: $ff;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 2px;
    }
  }
}

//End Footer Copyright
























