

* {
    box-sizing: border-box; }

html {
    height: 100%;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

body {
    height: 100%;
    margin: 0;
    font: 1.3rem/1.6 "Open Sans", sans-serif;
    color: black;
    background-color: white;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*.is-opened-filter &,
    .is-opened-menu & {
      overflow-y: hidden;
    }*/ }

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    outline: none; }

img {
    border: 0;
    max-width: 100%;
    vertical-align: top; }

p {
    margin: 0 0 1.2em; }
p:last-child {
    margin-bottom: 0; }

ul {
    margin: 0;
    padding: 0;
    list-style: none; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 400; }

h1 {
    word-wrap: break-word; }

h2 {
    font-size: 2.5rem; }
h2.custom .icon {
    width: .54em;
    font-size: 27px;
    margin-left: auto; }

h3 {
    font-size: 2.2rem; }

h4 {
    font-size: 2rem; }

svg:not(:root) {
    overflow: hidden; }

[hidden] {
    display: none; }

.icon {
    display: inline-block;
    vertical-align: top;
    width: 1em;
    height: 1em;
    fill: currentColor; }

.svg-sprite {
    display: none; }

.underline {
    border-bottom: 1px solid; }

.mobile .mobile_underline {
    border-bottom: 1px solid; }

.flex {
    display: -ms-flexbox;
    display: flex; }

.flex-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }

.vert-center {
    -ms-flex-item-align: center;
    align-self: center; }

.color-white {
    color: white; }

.futura400, h1, h2, h3, h4, h5, h6, .header__content h1, .header__d-content .leftside, .screen-slide-content__more-info, .works .work-title, .contacts__on-map .txt, .popup__langs,
.menu__langs, .nav-item-active, .nav__item .title, .s-project .title, .s-project-d .middle, .filter-d, .project-switcher__proj-name, .page-404 {
    font-family: "futura-pt", sans-serif;
    font-weight: 400; }

.clearfix::after, .header__d-content::after, .screen-slider-pagin::after, .works-d__list::after, .filter-d::after {
    content: '';
    display: table;
    clear: both; }

.clear {
    clear: both; }

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background-color: #181818; }

::-webkit-scrollbar-thumb {
    background-color: #3c3c3c; }




@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg); } }

.wrapper {
    height: 100%; }

.content-p {
    padding: 30px; }

.content {
    padding: 45px 30px;
    background-color: white; }
@media (min-width: 768px) {
    .content {
        font-size: 1.4rem; } }
.content *:first-child {
    margin-top: 0; }
.content *:last-child {
    margin-bottom: 0; }
.content h2 {
    margin: 1.3em 0 1em;
    line-height: 1.4; }
.content h3 {
    margin: 1em 0 .55em;
    line-height: 1.25; }
.content p {
    color: #9D9D9D; }
.content__box-info h3 {
    width: 75%; }
.content__box-info .info-item {
    margin-bottom: 28px;
    padding-bottom: 13px;
    border-bottom: 1px solid #cdcdcd; }
.content__box-info .info-item ul {
    line-height: 1.9;
    font-size: 1.1rem;
    color: #9D9D9D;
    text-transform: uppercase; }

.content-list {
    margin-bottom: 1.3em;
    padding: 0 0 0 18px;
    color: #262626; }
@media (max-width: 767px) {
    .content-list {
        font-size: 11px;
        line-height: 1.9;
        text-transform: uppercase; } }
.content-list li::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 15px 2px -18px;
    background-color: #FF3737; }

.header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    background-color: #181818;
    color: white; }
@media (min-width: 768px) {
    .header {
        min-width: 1000px; } }
.header__top-bar {
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    transition: .2s ease;
    transform: translate3d(0, 0, 0); }
@media (max-width: 767px) {
    .header__top-bar {
        position: absolute;
        padding: 30px; } }
@media (min-width: 768px) {
    .header__top-bar {
        position: fixed; } }
.header__top-bar .icon-burger {
    font-size: 25px;
    cursor: pointer; }
.header__top-bar.is-fixed {
    background-color: rgba(0, 0, 0, 0.5); }
@media (max-width: 767px) {
    .header__top-bar.is-fixed {
        position: fixed; } }
@media (min-width: 768px) {
    .header__top-bar.is-fixed {
        padding: 61px; } }
.header__content {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 80px 30px 60px;
    background-size: cover;
    background-position: 50% 0; }
.header__content.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
.header__content h1 {
    font-size: 6.2rem;
    margin: 0 0 .6em; }
.header__content h2 {
    font-size: 3.2rem; }
.header__content h1, .header__content h2, .header__content h3 {
    line-height: 1.2; }
.header__d-content {
    min-height: 800px; }
@media only screen and (max-width: 1400px) {
    .header__d-content {
        min-height: 900px; } }
@media only screen and (max-width: 1200px) {
    .header__d-content {
        min-height: 1000px; } }
.header__d-content h1, .header__d-content h2, .header__d-content h3 {
    line-height: 1.2; }
.header__d-content .box-side {
    float: left;
    width: 50%;
    height: 100vh;
    min-height: 800px;
    background-position: center center;
    background-size: cover; }
.pageId59 .header__d-content .box-side {min-height: 1000px;}
@media only screen and (max-width: 1400px) {
    .header__d-content .box-side {
        min-height: 900px; }
    .pageId59 .header__d-content .box-side {min-height: 1050px;}}
@media only screen and (max-width: 1200px) {
    .header__d-content .box-side {
        min-height: 1000px; }
    .pageId59 .header__d-content .box-side {min-height: 1100px;}}
.header__d-content .box-scroll {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow: auto; }
.touchevents .header__d-content .box-scroll {
    -webkit-overflow-scrolling: touch; }
.header__d-content .box-middle {
    padding: 0;
    margin: auto;
    width: 65%;
    max-width: 480px; }
.header__d-content .box-middle h1 {
    font-size: 7.5rem;
    margin: 0 0 40px; }
.header__d-content .box-middle h2 {
    font-size: 3.8rem;
    margin-bottom: .5em; }
.header__d-content .box-middle .sub-title-h1 {
    margin-top: -25px; }
.header__d-content .box-middle p {
    color: #6A6A6A; }
.header__d-content .leftside {
    font-size: 1.8rem;
    color: white; }
.header__d-content .rightside--agency__list {
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center; }
.header__d-content .rightside--agency__list ul {
    display: inline-block;
    vertical-align: top;
    text-align: left; }
.header__d-content .rightside--agency__list li + li {
    margin-top: 10px; }
.header__d-content .rightside--agency__list li::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 12px 4px;
    background-color: rgba(255, 255, 255, 0.5); }
.header__d-content .contacts-head h2 {
    font-size: 3.2rem; }
.header__d-content .contacts-head h3 {
    color: #6a6a6a; }
.header__content-inn {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex; }
.header__content-inn.align-center {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
.header__content-inn.align-end {
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end; }
.header__arrow-bottom {
    height: .54em;
    font-size: 27px;
    margin: 30px 0 0; }
.header .white-bg {
    background-color: white;
    color: black; }

.project-info h1 {
    font: bold 7.2rem/1.2 Helvetica, Arial, sans-serif;
    margin: 0 0 .5em; }

.project-info.align-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }

.mobile .project-info h1 {
    font: bold 9vw/1.2 Helvetica, Arial, sans-serif;
    margin: 0 0 .5em; }

.logo .icon-logo {
    height: .29em; }
@media (max-width: 767px) {
    .logo .icon-logo {
        font-size: 100px; } }
@media (min-width: 768px) {
    .logo .icon-logo {
        font-size: 135px; } }

@media (min-width: 768px) {
    .logo {
        position: absolute;
        top: 41px;
        right: 47px; } }

.logo.black .icon {
    color: black; }

.screen-slider {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%; }
.screen-slider .slide {
    overflow: hidden;
    background-size: cover;
    background-position: 50%; }
@media (min-width: 768px) {
    .screen-slider .slide {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-touch-action: none;
        touch-action: none;
        content-zooming: none; } }
.screen-slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72); }
.screen-slider__logo {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 55px -30px;
    padding-left: 30px; }
.screen-slider__nav-btns {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate3d(0, -50%, 0); }
.touchevents .screen-slider__nav-btns {
    display: none; }
.screen-slider__nav-btn {
    cursor: pointer; }
.screen-slider__nav-btn .icon {
    display: block;
    width: .54em;
    font-size: 66px; }
.screen-slider__nav-btn.swiper-button-disabled {
    opacity: .4;
    cursor: default; }

@media (min-width: 768px) {
    .screen-slider-pagin {
        padding-left: 5px; } }

@media (max-width: 767px) {
    .screen-slider-pagin {
        z-index: 2;
        position: absolute;
        bottom: 32px;
        left: 30px; } }

.screen-slider-pagin .bullet {
    position: relative;
    float: left;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background-color: white;
    cursor: pointer; }
@media (max-width: 767px) {
    .screen-slider-pagin .bullet {
        margin: 0 17px 0 0;
        transition: .35s ease; } }
@media (min-width: 768px) {
    .screen-slider-pagin .bullet {
        margin: 0 27px 0 0;
        transition: .5s ease; } }
.screen-slider-pagin .bullet:hover, .screen-slider-pagin .bullet.swiper-pagination-bullet-active {
    transform: rotate(360deg); }
.screen-slider-pagin .bullet:hover .icon, .screen-slider-pagin .bullet.swiper-pagination-bullet-active .icon {
    opacity: 1; }
.screen-slider-pagin .bullet .icon {
    opacity: 0;
    position: absolute;
    top: -6px;
    left: -4px;
    font-size: 15px;
    transition: .35s ease; }

.lamp-anim {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translate3d(0, 0, 0); }

.screen-slide-content {
    position: relative;
    z-index: 1; }
@media (max-width: 767px) {
    .screen-slide-content {
        padding: 100px 30px; } }
@media (min-width: 768px) {
    .screen-slide-content {
        padding: 100px 0 150px 10%;
        width: 800px; } }
.screen-slide-content h3 {
    line-height: 1.2; }
@media (max-width: 767px) {
    .screen-slide-content h3 {
        font-size: 5.2rem;
        margin: 0 0 .5em; } }
@media (min-width: 768px) {
    .screen-slide-content h3 {
        font-size: 6.4rem;
        font-weight: 700;
        margin: 0 0 .78em; } }
.screen-slide-content a {
    display: block; }
.screen-slide-content .icon-arrow-right {
    width: .54em;
    font-size: 27px;
    margin-top: .7em; }
.screen-slide-content__more-info {
    margin-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
.screen-slide-content__more-info p {
    font-size: 20px; }

.works__list a {
    display: block; }
.works__list a.big {
    height: 233px;
    padding-top: 45px; }
.works__list a .icon {
    width: .54em;
    font-size: 27px;
    margin-left: auto; }

.works .work-title {
    -ms-flex: 1;
    flex: 1;
    font-size: 2.5rem; }

.works__more {
    padding: 25px 30px; }

.works__item {
    height: 233px;
    padding: 45px 30px 30px;
    color: white; }

.works-d__item {
    position: relative;
    float: left;
    width: 50%;
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0;
    transition: .35s ease;
    transform: scale(0.8); }
.works-d__item::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    content: ""; }
.works-d__item.is-loaded {
    background-size: cover;
    opacity: 1;
    transform: scale(1); }
.works-d__item.is-loaded::before {
    display: none; }
.works-d__item:hover .works-d__item-info {
    opacity: 1; }

.works-d__item-info {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 75px;
    background-color: rgba(0, 0, 0, 0.85);
    transition: .15s ease; }
.works-d__item-info h2 {
    margin: 0 0 .5em;
    font-size: 7.5rem;
    font-size: 4vw;
    line-height: 1.2; }
.works-d__item-info h2:last-child {
    margin-bottom: 0; }
.works-d__item-info p {
    max-width: 300px; }

.contacts {
    padding: 45px 30px;
    background-color: #181818;
    color: #737373; }
.contacts--menu {
    width: 260px;
    padding: 0;
    background-color: transparent; }
.contacts--menu li:last-child {
    padding-bottom: 0;
    border-bottom: 0; }
.contacts--box {
    padding: 1px 0 0;
    max-width: 370px; }
.contacts h2 {
    margin: 0 0 46px;
    color: white; }
.contacts h4 {
    margin: 0 0 1px;
    color: #ABABAB; }
.contacts__on-map {
    display: inline-block;
    vertical-align: top;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 10px 0 0;
    text-align: center;
    cursor: pointer; }
.contacts__on-map .icon {
    width: .68em;
    font-size: 34px;
    color: #FF8B00; }
.contacts__on-map .txt {
    display: block;
    margin: 7px 0 0;
    color: white;
    font-size: 1.7rem; }
.contacts__place {
    -ms-flex: 1;
    flex: 1;
    margin-right: 2em; }
.contacts__list > li {
    margin: 18px 0 0;
    padding: 0 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.contacts__list > li.mapBox {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    height: 0;
    overflow: hidden;
    transition: height .35s ease; }
.contacts__list > li.mapBox.opened {
    height: calc(100vw - 60px); }
.contacts__list > li.mapBox .gmBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 60px);
    height: calc(100vw - 60px); }
.contacts__phone {
    font-size: 1.7rem; }
.contacts__jobs {
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-size: 2.2rem; }
.contacts__jobs .icon {
    width: .54em;
    font-size: 27px;
    margin-left: auto; }

.social-networking {
    overflow: hidden; }
.social-networking a {
    float: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 53px;
    height: 53px;
    margin-right: 12px;
    border: 2px solid #4F4F4F;
    border-radius: 50%; }
.social-networking .icon {
    font-size: 20px;
    color: #4C4C4C; }

.d-social-networking {
    overflow: hidden;
    margin-right: 15px; }
.d-social-networking a {
    float: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .125s ease;
    color: white; }
.d-social-networking a:hover {
    background-color: white;
    color: #2f2f2f; }
.d-social-networking .icon {
    font-size: 18px; }
.d-social-networking .icon-plane {
    height: .9em;
    margin: 1px 2px 0 0; }

.copyright {
    margin: 10px 0 40px; }

.d-copyright {
    z-index: 1;
    position: absolute;
    bottom: 43px;
    left: 43px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
.d-copyright span {
    font: 1.2rem/1.6 "Open Sans", sans-serif;
    opacity: 0.8; }

.popup,
.menu {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    overflow-x: hidden;
    overflow-y: auto; }
.touchevents .popup, .touchevents
.menu {
    -webkit-overflow-scrolling: touch; }
@media (max-width: 767px) {
    .popup,
    .menu {
        background-color: rgba(0, 0, 0, 0.85); } }
.popup__line-sep,
.menu__line-sep {
    width: 1px;
    height: 500px;
    background-color: rgba(151, 151, 151, 0.3);
    transition: .2s ease; }
@media (min-width: 768px) {
    .menu:not(.is-animation-ended) .popup__line-sep, .menu:not(.is-animation-ended)
    .menu__line-sep {
        opacity: 0; } }
.popup__close-btn,
.menu__close-btn {
    z-index: 2;
    position: absolute;
    width: 85px;
    height: 85px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .2s ease; }
@media (max-width: 767px) {
    .popup__close-btn,
    .menu__close-btn {
        top: 0;
        right: 0; } }
@media (min-width: 768px) {
    .popup__close-btn,
    .menu__close-btn {
        top: 18px;
        left: 18px; } }
.popup__close-btn .icon,
.menu__close-btn .icon {
    font-size: 25px;
    cursor: pointer; }
.popup__close-icon,
.menu__close-icon {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .2s ease; }
.touchevents .menu .popup__close-icon, .touchevents .menu
.menu__close-icon {
    top: 1px; }
.popup__close-icon i,
.menu__close-icon i {
    position: absolute;
    left: 0;
    height: 1px;
    width: 25px;
    background: white;
    transform: rotate(0deg) translate3d(0, 0, 0);
    transition: .2s ease;
    transform-origin: center center !important; }
.is-animation-ended .popup__close-icon i, .is-animation-ended
.menu__close-icon i {
    width: 30px;
    left: -2px; }
.popup__close-icon i:nth-child(1),
.menu__close-icon i:nth-child(1) {
    top: 0; }
.popup__close-icon i:nth-child(2), .popup__close-icon i:nth-child(3),
.menu__close-icon i:nth-child(2),
.menu__close-icon i:nth-child(3) {
    top: 10px; }
.popup__close-icon i:nth-child(4),
.menu__close-icon i:nth-child(4) {
    top: 20px; }
.is-animation-ended .popup__close-icon i:nth-child(1), .is-animation-ended
.menu__close-icon i:nth-child(1) {
    top: 10px;
    left: 50%;
    width: 0; }
.is-animation-ended .popup__close-icon i:nth-child(2), .is-animation-ended
.menu__close-icon i:nth-child(2) {
    transform: rotate(45deg); }
.is-animation-ended .popup__close-icon i:nth-child(3), .is-animation-ended
.menu__close-icon i:nth-child(3) {
    transform: rotate(-45deg); }
.is-animation-ended .popup__close-icon i:nth-child(4), .is-animation-ended
.menu__close-icon i:nth-child(4) {
    top: 10px;
    left: 50%;
    width: 0; }
.galleryPage .header__top-bar:not(.is-fixed) .popup__close-icon i, .galleryPage .header__top-bar:not(.is-fixed)
.menu__close-icon i {
    background: black; }
.popup__content,
.menu__content {
    z-index: 1;
    position: relative;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
.touchevents .popup__content, .touchevents
.menu__content {
    padding-top: 2px;
    padding-bottom: 1px;
    box-sizing: content-box; }
.popup__list,
.menu__list {
    z-index: 1;
    position: relative;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
@media (max-width: 767px) {
    .popup__list,
    .menu__list {
        padding: 90px 30px 30px; } }
@media (min-width: 768px) {
    .popup__list,
    .menu__list {
        -ms-flex-pack: justify;
        justify-content: space-between; }
    .popup__list::before, .popup__list::after,
    .menu__list::before,
    .menu__list::after {
        content: ''; } }
.popup__head,
.menu__head {
    padding: 30px 0 0 30px; }
.popup .social-networking,
.menu .social-networking {
    padding: 0 30px 30px; }
.popup__langs,
.menu__langs {
    padding: 19px 0 19px 30px;
    background-color: #2D40FF;
    font-size: 2rem;
    display: -ms-flexbox;
    display: flex; }
.popup__langs a,
.menu__langs a {
    margin-right: 43px; }
.popup__langs .active span,
.menu__langs .active span {
    border-bottom: 1px solid; }
.popup__bg,
.menu__bg {
    opacity: 0;
    z-index: 0;
    position: absolute;
    left: -5px;
    right: -10px;
    top: -100%;
    height: 100%;
    background-color: black;
    transition: 0.25s cubic-bezier(0, 0.25, 0.25, 1);
    transform: skewY(0) translate3d(0, 0, 0);
    transform-origin: left 0 0; }
.popup__bg.is-visible,
.menu__bg.is-visible {
    opacity: 1; }
.popup__bg.is-full,
.menu__bg.is-full {
    transform: skewY(0) translate3d(0, 100%, 0) !important; }
@media (min-width: 768px) {
    .popup .contacts--menu,
    .popup .nav,
    .menu .contacts--menu,
    .menu .nav {
        transition: .25s ease; }
    .popup:not(.is-animation-ended) .nav,
    .menu:not(.is-animation-ended) .nav {
        opacity: 0;
        transform: translate3d(-50px, 0, 0); }
    .popup:not(.is-animation-ended) .contacts--menu,
    .menu:not(.is-animation-ended) .contacts--menu {
        opacity: 0;
        transform: translate3d(50px, 0, 0); } }

.menu-burger-btn {
    position: absolute;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
@media (max-width: 767px) {
    .menu-burger-btn {
        right: 0;
        width: 85px;
        height: 85px; } }
@media (min-width: 768px) {
    .menu-burger-btn {
        left: 0;
        width: 120px;
        height: 120px; } }
.header__top-bar:not(.is-fixed) .menu-burger-btn.black {
    color: black; }

.menu-floating {
    z-index: 9;
    position: fixed;
    top: -95px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 95px;
    background-color: #181818;
    color: white;
    transition: .25s ease; }
.menu-floating.is-active {
    transform: translate3d(0, 95px, 0); }
.menu-floating__selected {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 30px; }

.nav-item-active {
    line-height: 1.4;
    font-size: 2.5rem; }

.btn-go-to-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 95px;
    height: 95px; }
.btn-go-to-top .icon {
    font-size: 23px; }

.is-opened-filter .filter,
.is-opened-menu .menu {
    display: block; }

@media (max-width: 767px) {
    .nav {
        -ms-flex: 1;
        flex: 1; } }

@media (min-width: 768px) {
    .nav {
        width: 260px; } }

.nav__item {
    position: relative;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    transition: .2s ease; }
@media (max-width: 767px) {
    .nav__item {
        margin-bottom: 24px; } }
@media (min-width: 768px) {
    .nav__item {
        margin-bottom: 55px; } }
.menu.is-hidden .nav__item {
    opacity: 0;
    transform: translate3d(-50%, 0, 0); }
.nav__item:nth-child(1) {
    transition-delay: 50ms; }
.nav__item:nth-child(2) {
    transition-delay: 100ms; }
.nav__item:nth-child(3) {
    transition-delay: 150ms; }
.nav__item:nth-child(4) {
    transition-delay: 200ms; }
.nav__item:nth-child(5) {
    transition-delay: 250ms; }
.nav__item:nth-child(6) {
    transition-delay: 300ms; }
.nav__item:last-child {
    margin-bottom: 0; }
.nav__item .title {
    -ms-flex: 1;
    flex: 1; }
@media (max-width: 767px) {
    .nav__item .title {
        font-size: 2.5rem; } }
@media (min-width: 768px) {
    .nav__item .title {
        font-size: 3.5rem; } }
.nav__item.active .icon-close {
    display: block; }

.nav .icon-arrow {
    width: .54em;
    font-size: 27px; }

.nav .icon-close {
    display: none;
    font-size: 25px; }

.s-project {
    padding: 120px 30px;
    background-color: #181818;
    color: white; }
.s-project h4 {
    margin: 0 0 1px;
    color: #ABABAB; }
.s-project .big {
    font-size: 1.7rem; }
.s-project .title {
    margin: .6em 0 0;
    font-size: 5.3rem;
    line-height: .8;
    border-bottom: 1px solid;
    padding-bottom: 15px; }
.s-project__cont-list {
    color: #737373; }
.s-project__cont-list > li {
    margin: 18px 0 0;
    padding: 0 0 22px;
    border-bottom: 1px solid #2f2f2f; }
.s-project__cont-list > li:last-child {
    border-bottom: 0;
    padding-bottom: 0; }

.s-project-d {
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    min-height: 540px;
    background-color: #181818;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
.s-project-d .middle {
    margin: auto;
    text-align: center;
    max-width: 650px;
    font-size: 2rem; }
.s-project-d__title {
    display: block;
    margin-bottom: 55px;
    font-size: 10.4rem;
    line-height: 1.17;
    font-weight: bold; }
.s-project-d__title .color {
    color: #ee3692; }
.s-project-d__sep-line {
    width: 350px;
    margin: 0 auto 47px;
    height: 1px;
    background-color: rgba(151, 151, 151, 0.3); }
.s-project-d__phone {
    margin-bottom: 30px; }
.s-project-d__mail {
    color: #6A6A6A; }

.icon-arrow-title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: .54em;
    font-size: 27px;
    margin-left: auto; }

.black-line {
    background: #181818;
    padding: 0 30px; }
.black-line::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #2f2f2f; }

.contact-city {
    position: relative;
    padding: 60px 30px;
    background-size: cover;
    background-position: 50% 25%;
    background-color: rgba(24, 24, 24, 0.84);
    color: white; }
.box-side .contact-city {
    display: -ms-flexbox;
    display: flex;
    height: 50%;
    padding: 80px; }
.contact-city::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
.contact-city__content {
    position: relative; }
.contact-city h2 {
    margin-top: 0; }
.contact-city .contacts__on-map {
    margin-top: 40px; }

@media (max-width: 767px) {
    .jobs-accordion h2, .jobs-accordion h3 {
        color: black; } }

.jobs-accordion .item:first-child .item-title {
    border: 0; }

.jobs-accordion .item-title {
    margin: 0;
    padding: 50px 30px;
    border-top: 1px solid #cdcdcd;
    line-height: 1.4; }

@media (max-width: 767px) {
    .jobs-accordion .hidden-info {
        margin: -20px 0 30px;
        padding: 0 30px 30px;
        color: #9d9d9d; }
    .jobs-accordion .hidden-info *:last-child {
        margin-bottom: 0; } }

.jobs-accordion .is-opened .item-title span {
    border: 0; }

.accordion-list {
    max-width: 370px;
    text-transform: uppercase;
    font-size: 2rem;
    color: #6a6a6a; }
.accordion-list .item {
    margin-bottom: -1px;
    padding: 22px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer; }
.accordion-list .item.is-opened {
    z-index: 1;
    position: relative;
    border-color: white;
    color: white; }

.hidden-info {
    display: none; }

.loader {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #fe4268, #ff8a1e, #81ba35);
    background-size: 2000%;
    animation: LoaderAnim 1.75s ease-in-out both;
    transition: transform 400ms ease; }
.loader.is-hidden {
    transform: translate3d(100%, 0, 0); }
.loader__area {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: transform 400ms cubic-bezier(0, 0.25, 0.25, 1);
    transform-origin: top left 0; }
.loader__area.is-finished {
    transform: translate3d(100%, 0, 0); }
.loader .icon-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@keyframes LoaderAnim {
    from {
        background-position: 0 0; }
    to {
        background-position: 100% 0; } }

.filter .nav {
    -ms-flex: 0 0;
    flex: 0 0;
    padding: 26px 30px 0; }

.filter__close {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px; }
.filter__close .icon {
    font-size: 25px; }

.filter-d {
    position: absolute;
    top: 44px;
    left: 130px; }
.filter-d a {
    float: left;
    margin-right: 25px;
    font-size: 2rem; }
.header__top-bar:not(.is-fixed) .filter-d.black {
    color: black; }

.langs {
    z-index: 1;
    position: absolute;
    bottom: 43px;
    right: 43px;
    display: -ms-flexbox;
    display: flex; }
.langs a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 50%;
    transition: .125s ease; }
.touchevents .langs a:active,
.no-touchevents .langs a:hover, .langs a.active {
    background-color: white;
    color: black; }
.langs.black a {
    color: black;
    border-color: rgba(0, 0, 0, 0.5); }
.touchevents .langs.black a:active,
.no-touchevents .langs.black a:hover, .langs.black a.active {
    background-color: black;
    color: white; }

.map-container {
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .15s ease; }
.map-container.is-visible {
    opacity: 1;
    visibility: visible; }
.map-container__mapbox {
    z-index: 1;
    position: relative;
    height: 100%; }
.map-container__close-btn {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    width: 116px;
    height: 116px;
    cursor: pointer; }
.map-container__close-btn .icon {
    margin: auto;
    font-size: 25px;
    color: white; }

.footer {
    position: relative;
    height: 127px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #181818;
    color: white; }

.project-switcher-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }

.project-switcher {
    display: -ms-flexbox;
    display: flex;
    padding: 90px 0; }
.project-switcher__work {
    position: relative;
    margin: 0 100px; }
.project-switcher__work .sub-title {
    color: #737373; }
.project-switcher__work .arrow {
    position: absolute;
    top: 14px;
    width: 15px;
    height: 30px; }
.project-switcher__work .arrow .icon {
    vertical-align: top;
    font-size: 27px;
    width: .54em; }
.project-switcher__work.prev .arrow {
    left: -115px;
    transform: rotate(180deg); }
.project-switcher__work.next .arrow {
    right: -115px; }
.project-switcher__proj-name {
    margin-bottom: 6px;
    font-size: 2.2rem;
    line-height: 1.4; }

.page-404 {
    height: 100vh;
    padding: 20px;
    background-color: #161616; }
.page-404 .middle {
    width: 8%;
    min-width: 150px;
    margin: auto; }
@media (max-width: 767px) {
    .page-404 .middle {
        font-size: 2rem; } }
@media only screen and (min-width: 1280px) {
    .page-404 .middle {
        font-size: 1vw; } }
.page-404__img {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-left: 7px;
    text-align: center; }
@media (min-width: 768px) {
    .page-404__img {
        background: url("../img/404_bg.png") no-repeat center center/contain; } }
.page-404 h3 {
    margin: 0 0 .5em;
    font-size: 2em;
    line-height: 1.2; }

.slide-anim-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.no-touchevents .s-oval {
    transition: 0.25s cubic-bezier(0.3, 0.9, 0.45, 1); }

.no-touchevents .swiper-slide-active .s-oval-1 {
    transition-delay: 250ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-1 {
    opacity: 0;
    transform: translate3d(70px, 0, 0); }

.no-touchevents .swiper-slide-active .s-oval-2 {
    transition-delay: 300ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-2 {
    opacity: 0;
    transform: translate3d(140px, 0, 0); }

.no-touchevents .swiper-slide-active .s-oval-3 {
    transition-delay: 350ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-3 {
    opacity: 0;
    transform: translate3d(210px, 0, 0); }

.no-touchevents .swiper-slide-active .s-oval-4 {
    transition-delay: 400ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-4 {
    opacity: 0;
    transform: translate3d(280px, 0, 0); }

.no-touchevents .swiper-slide-active .s-oval-5 {
    transition-delay: 450ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-5 {
    opacity: 0;
    transform: translate3d(350px, 0, 0); }

.no-touchevents .swiper-slide-active .s-oval-6 {
    transition-delay: 500ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-6 {
    opacity: 0;
    transform: translate3d(420px, 0, 0); }

.no-touchevents .swiper-slide-active .s-oval-7 {
    transition-delay: 550ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-7 {
    opacity: 0;
    transform: translate3d(490px, 0, 0); }

.no-touchevents .swiper-slide-active .s-oval-8 {
    transition-delay: 600ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-8 {
    opacity: 0;
    transform: translate3d(560px, 0, 0); }

.no-touchevents .swiper-slide-active .s-oval-9 {
    transition-delay: 650ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-9 {
    opacity: 0;
    transform: translate3d(630px, 0, 0); }

.no-touchevents .swiper-slide-active .s-oval-10 {
    transition-delay: 700ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-oval-10 {
    opacity: 0;
    transform: translate3d(700px, 0, 0); }

.no-touchevents .s-figure {
    pointer-events: none;
    transition: 0.3s cubic-bezier(0.3, 0.9, 0.45, 1);
    transform: translate3d(0, 0, 0); }

.no-touchevents .swiper-slide-active .s-figure-1 {
    transition-delay: 300ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-figure-1 {
    transform: translate3d(30px, 0, 0); }

.no-touchevents .swiper-slide-active .s-figure-2 {
    transition-delay: 350ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-figure-2 {
    transform: translate3d(30px, 0, 0); }

.no-touchevents .swiper-slide-active .s-figure-3 {
    transition-delay: 400ms; }

.no-touchevents .slide:not(.swiper-slide-active) .s-figure-3 {
    transform: translate3d(30px, 0, 0); }

.no-touchevents .s-triangle {
    transition: .4s ease-in-out;
    transform-origin: center center; }

.no-touchevents .slide:not(.swiper-slide-active) .s-triangle-1,
.no-touchevents .slide:not(.swiper-slide-active) .s-triangle-3,
.no-touchevents .slide:not(.swiper-slide-active) .s-triangle-5,
.no-touchevents .slide:not(.swiper-slide-active) .s-triangle-7 {
    transform: rotate(-40deg); }

.no-touchevents .slide:not(.swiper-slide-active) .s-triangle-2,
.no-touchevents .slide:not(.swiper-slide-active) .s-triangle-4,
.no-touchevents .slide:not(.swiper-slide-active) .s-triangle-6 {
    transform: rotate(40deg); }

.tablet-locker {
    display: none;
    z-index: 60;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; }
@media only screen and (orientation: portrait) and (min-width: 768px) {
    .touchevents .tablet-locker {
        display: block; } }
.tablet-locker__anim-box {
    position: absolute;
    top: 48%;
    left: 50%;
    margin: -44px 0 0 -44px;
    width: 88px;
    height: 88px; }
.tablet-locker__anim-phone {
    background: url(../img/locker/phone.svg) no-repeat center center;
    animation: tabletLockerAnim1 7s infinite; }
.tablet-locker__anim-sync {
    background: url(../img/locker/sync.svg) no-repeat center center;
    animation: tabletLockerAnim2 7s infinite; }
.tablet-locker__anim-ok {
    background: url(../img/locker/checkmark-circle.svg) no-repeat center center;
    opacity: 0;
    animation: tabletLockerAnim3 7s infinite; }
.tablet-locker__text-info {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.8rem; }
.tablet-locker .animated {
    position: absolute;
    top: 0;
    left: 0;
    width: 88px;
    height: 88px;
    background-size: 44px; }

h1.underline, h2.underline {
    display: inline-block; }

.pageId59 .jobs-accordion .rightside ul {
    margin: 0 0 1.2em 18px; }

.gmBoxContact {
    position: absolute;
    top: -105%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: top .2s ease; }
.gmBoxContact.opened {
    top: 0; }
.gmBoxContact .gmBoxContactInn {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%; }

.mapBox {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    height: 0;
    overflow: hidden;
    transition: height .35s ease; }
.mapBox.opened {
    height: 100vw; }
.mapBox .gmBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vw; }

.videoslide {
    position: relative;
    width: 100%;
    height: 0;
    padding: 56.25vw 0 0 0;
    overflow: hidden; }
.videoslide iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.js-close-map {
    color: white; }

.galleryPage .header__top-bar:not(.is-fixed) {
    color: black !important; }

.galleryContent {
    text-align: center; }

.projectInfo ul {
    padding: 20px 0 0 0; }

.content-list li {
    color: #262626; }

.mobile .content-list ul {
    margin: 0 0 1.2em 18px; }

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

/*# sourceMappingURL=styles.css.map */
